[2018-06-27 11:08] hewgreen opened #1 "new term: aspirate from proximal femur"
For new term requests, please provide the following information:

I'm not sure if attaching aspirate is useful for the ontology or if this should be done in a different way e.g. bone marrow from ...

I have requested more information from the scientist to find a more specific location to check that 'proximal' is an adequate anatomical description.

For now I am just using the UBERON term for femur

[2018-08-10 11:10] daniwelter opened #2 "Develop plan to deal with challenges for using Uberon for CCF"
Issues:
- Filtering for Human/Mouse specific terms;
- Displaying human/mouse specific names. \

_Meeting with Chris M. to discuss strategy for this would help._

[2018-08-10 11:10] daniwelter opened #3 "Ontology support for Common Coordinate Framework"
CCF is a system to allow people to know if two different samples have come from the same location in different  peoples organs.  Use of ontologies has already been discussed in previous CCF meetings.

The ontologists need to develop a robust proposal for how to provide ontology support for CCF.

[2018-08-10 11:12] daniwelter commented on #2
Was HCA-165

[2018-08-10 11:13] daniwelter commented on #3
Was HCA-141 + HCA-165

[2018-08-10 14:37] daniwelter opened #4 "As a data consumer, I want information that tracks cell stage development through a lineage, in order to investigate hematopoietic cells"
Considerations relating to this include:

Coverage survey  in UBERON and CL of the relationship in the differentiation from one cell type to another cell type in an in vivo cell lineage. CL utilises the object properties such as ‘develops from’, ‘develops into’, ‘developmentally contributes to’, ‘developmentally preceded by’, ‘developmentally related to’, or ‘developmentally succeeded by’. Ingest-

[2018-08-10 14:37] daniwelter opened #5 "As a user I want to query data by cell 'type', where type includes the cell's interactions, in order focus on specific subsets of cells in my work."
All cells interact with inter/intra-cellular components e.g., neuron - neurotransmitter. Classification by interacting agent is crucial for many cell types.

Cells interact with the cellular environment, and are sometimes classified based on these interactions. For example, a neuron cell can be classified based on the effect that its generated neurotransmitter has on its target neuron.

The metada

[2018-08-10 14:39] daniwelter commented on #5
Was HCA-260

[2018-08-10 14:39] daniwelter commented on #4
Was HCA-258

[2018-12-18 10:40] hewgreen opened #7 "Adding imaging fluorophores to HCAO"
It would be preferable for the field imaging_protocol.target.fluorophore to support an ontology entry. To do this we would need to add some terms to HCAO either from CHEBI or FBbi.

Examples herein would be an excellent start:
http://purl.obolibrary.org/obo/FBbi_00000455

Alternatively we could look at CHEBI entities with `has role some fluorochrome`.

[2019-01-14 10:58] daniwelter commented on #7
I don't think Chebi would be particularly well suited for this as it would come with a great big unnecessary import chain. I have added the relevant FBBI terms to our FBBI slim and this should be available in our internal OLS instance before too long

[2019-01-14 11:19] zperova commented on #7
Here is an example list of possible fluorophores we might encounter is imaging datasets: https://www.chroma.com/products/fluorochrome

[2019-02-11 10:48] hewgreen commented on #7
Is this done to your satisfaction @zperova ?

[2019-02-13 15:45] daniwelter opened #8 "Adapt custom Zooma 3 instance for HCA"
Instead of pointing at the full OLS, this needs to use the custom HCA-OLS

[2019-02-13 15:46] daniwelter opened #9 "Write script that extracts all current ontology mappings from HCA to generate the Zooma HCA knowledgebase"

[2019-02-13 15:46] daniwelter opened #10 "Write a wrapper for the HCA-Zooma instance that takes a metadata spreadsheet and returns a mapping report"

[2019-02-13 15:47] daniwelter opened #11 "Spreadsheet mapper for ontology annotations"
As a data wrangler, I would like to submit a metadata spreadsheet to a service that uses Zooma 3 to map all ontologisable values in the metadata and returns the mapping summary to me. After reviewing and if necessary correcting any mappings, I would like to submit corrections back to Zooma to update the HCA knowledgebase.

[2019-02-13 15:49] daniwelter opened #12 "Strip EBI branding of HCA-OLS instance"
HCA OLS should largely conform to HCA branding and not display the EBI headers

[2019-02-14 14:16] hewgreen opened #13 "Terms to describe lung collection location"
### Background
Pneumology nomenclature is used to describe the anatomy of the lung but this does not adequately describe where the samples in the airways were taken. A HCA contributor has the following requirements for his samples. There may be a way of modelling this without the need for new terms.

### New term requests:

`right lateral basal segment`
`left anterior segment`
`left apicoposterior

[2019-02-14 14:17] hewgreen commented on #13
Feel free to take a quick look and let me know if you want me to chase down references. I'm not sure at the moment if we need new terms or not.

[2019-03-05 19:17] pnejad opened #14 "Add an ontology for ‘surgical resection’ under collection_method"
Please add 'surgical resection' ontology to collection_method.

## Textual definition

Surgical removal of all or part of an organ, tissue, or structure.

[2019-03-12 10:14] hewgreen commented on #13
@daniwelter do you need any more information from Pascal about this?

[2019-03-12 10:16] daniwelter commented on #13
We're working on a robot pipeline to get the terms into HCAO from FMA

[2019-03-15 13:38] malloryfreeberg opened #15 "Add term for parenchymal cells to cell type ontology (CL)"
For new term requests, please provide the following information:

## Preferred term label

lung parenchymal cell

## Synonyms

none

## Textual definition

Any cell in the lung parenchyma which is the substance of the lung outside of the circulation system that is involved with gas exchange and includes the alveoli and respiratory bronchioles. Any cell from the tissue characteristic of lunch, as d

[2019-03-15 16:46] daniwelter commented on #14
The term has been added to EFO and will be deployed to the HCA space in the next couple of weeks. Ontology ID EFO:0009744

[2019-03-15 16:49] daniwelter commented on #13
Some issues with the Robot pipeline and Uberon at the moment. Will address this further once I'm back from holiday

[2019-03-15 16:56] daniwelter commented on #9
The script is now working although the output isn't quite compatible with Zooma kb format just yet. Committed in a repo on my own Github space https://github.com/daniwelter/hca-zooma-kb

[2019-03-26 14:10] malloryfreeberg commented on #15
@daniwelter would it be possible to prioritize this? Would like to use it with a dataset I wrangled that is otherwise ready to go (pending another schema update). Thanks!

[2019-03-26 14:18] daniwelter commented on #15
This is one for @dosumis  - I have no edit access to CL.

[2019-03-26 14:18] malloryfreeberg commented on #15
Cool. @dosumis? Could this be prioritized? Thanks!

[2019-03-26 15:38] daniwelter commented on #15
@malloryfreeberg in preparation for submission to CL, could you list additional features of this cell type, eg surface markers, other cell types that it falls under, developmental lineage etc. Here's an example of the sort of thing CL would be looking for https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0000570
Subclass of:
- neurecto-epithelial cell
-

[2019-03-26 20:52] malloryfreeberg commented on #15
Hmm, I'm not too sure about any of those features to describe that cell type. Let me check back in with the contributors who requested this cell type and see if they have any features to offer.

[2019-03-28 13:55] dosumis commented on #15
List of all cell types in the lung (currently in CL).

'basal cell of epithelium of lobular bronchiole'
'basal cell of epithelium of respiratory bronchiole'
'basal cell of epithelium of terminal bronchiole'
'bronchioalveolar stem cell'
'bronchioalveolar stem cells'
'bronchus fibroblast of lung'
'brush cell of lobular bronchiole'
'brush cell of terminal bronchiole'
'epithelial cell of alveolus of l

[2019-03-28 16:06] malloryfreeberg commented on #15
I'm not sure about this one. I would ask this of Anna/Elo in the email so they can ask a lung expert.

This sounds fine to me.

[2019-03-29 16:11] zperova opened #16 "Add ontology for dissection (cadaver dissection) under OBI_0600005"
## Preferred term label

dissection

## Synonyms

cadaver dissection

## Textual definition

sequential division of tissue layers to expose (and isolate) organs and organ parts of a deceased animal or plant

## Suggested parent term
Either organ extraction EFO_0009124
or one level up under collecting specimen from organism OBI_0600005

[2019-04-04 14:01] pnejad opened #17 "Add immunosurgery as collection method"
For new term requests, please provide the following information:

## Preferred term label

Immunosurgery

## Textual definition

A technique in which the outer layer (trophoblast) of a blastocyst is selectively destroyed by antiserum and complement, used especially to obtain the embryonic stem cells of the inner cell mass.

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2557078/
https://en.oxforddic

[2019-04-11 14:58] daniwelter commented on #16
Dissection already exist in EFO (http://www.ebi.ac.uk/efo/EFO_0003856). I have reclassified the term to also fall under the specimen collection process and created a separate sub-class for cadaver dissection

[2019-04-11 15:00] daniwelter commented on #17
New term added http://www.ebi.ac.uk/efo/EFO_0009808

[2019-04-11 15:25] daniwelter commented on #1
We already have bone marrow aspiration in EFO - use this term in conjunction with an appropriate sampling location

[2019-04-11 16:12] zperova commented on #16
@daniwelter  Great, thanks! I saw this one but assumed that it doesn't work since it is not under specimen collection. I will use this one in this case

[2019-04-11 16:23] daniwelter commented on #16
Please don't close issues until we have successfully released EFO.

[2019-04-23 11:24] #14 closed

[2019-04-23 11:24] #17 closed

[2019-04-23 11:24] #16 closed

[2019-04-23 11:24] #1 closed

[2019-04-26 11:35] malloryfreeberg commented on #15
@danielsotirhos any update on getting this term into CL?

[2019-04-26 21:58] danielsotirhos commented on #15
Guessing this was a typo for @daniwelter or @dosumis ?

[2019-04-29 08:25] malloryfreeberg commented on #15
So sorry! Yes, was for @dosumis :) (stupid autocomplete)

[2019-05-01 13:53] daniwelter commented on #13
These terms are now available in dev and will soon be deployed through all the environments

[2019-05-14 14:51] #13 closed

[2019-05-15 15:43] zperova opened #18 "Add a term for 10x v3 sequencing"
For new term requests, please provide the following information:

## Preferred term label

10x v3 sequencing

## Synonyms

10x v3

## Textual definition

10x v3 is the third version of the 10x sequencing technology.

## Suggested parent term
10x sequencing
http://www.ebi.ac.uk/efo/EFO_0008995

[2019-05-16 10:42] malloryfreeberg opened #19 "Add term for 10X 3' v2 sequencing"
For new term requests, please provide the following information:

## Preferred term label

10X 3' v2 sequencing

## Synonyms

10X 3' v2

## Textual definition

10X 3' v2 is the second version of the 10x sequencing technology that sequences from the 3' end of nucleic acid molecules.

## Suggested parent term

[10X v2 sequencing](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.eb

[2019-05-16 10:43] malloryfreeberg opened #20 "Add term for 10X 5' v2 sequencing"
For new term requests, please provide the following information:

## Preferred term label

10X 5' v2 sequencing

## Synonyms

10X 5' v2

## Textual definition

10X 5' v2 is the second version of the 10x sequencing technology that sequences from the 5' end of nucleic acid molecules.

## Suggested parent term

[10X v2 sequencing](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.eb

[2019-05-16 13:10] daniwelter commented on #18
@zperova any chance at slightly more details for the definition? What differentiates v2 from v3? And v2 from v1 for that matter - I've been meaning to update the definition for ages.

[2019-05-16 13:12] daniwelter commented on #19
@malloryfreeberg any chance at more details for the definition? How does the process differ for 3' v 5'?

[2019-05-16 13:15] malloryfreeberg commented on #19
[Reference](https://kb.10xgenomics.com/hc/en-us/articles/360000939852-What-is-the-difference-between-Single-Cell-3-and-5-Gene-Expression-libraries-)

Question: What is the difference between Single Cell 3' and Single Cell 5’ Gene Expression libraries?

Answer: The two assays are similar but capture different ends of the polyadenylated transcript in the final library. Both solutions use polydT prim

[2019-05-16 14:40] ambrosejcarr commented on #18
successive versions of the 10x chemistry use different barcode locations to improve the sequencing yield and quality of 10x experiments.

For v2 vs v3, the following diagram details the main differences from an analysis perspective:

![image](https://user-images.githubusercontent.com/5239152/57862788-eb836e80-77c6-11e9-81e5-c5902718d5ab.png)

[Reference](https://kb.10xgenomics.com/hc/en-us/article

[2019-05-22 10:47] ESapenaVentura opened #21 "Add term for 10X v1 sequencing"
## Preferred term label

10X v1 sequencing

## Synonyms

10X v1, 10X_v2

## Textual definition

10x v1 is the first version of the 10X sequencing technology. Differs from the other versions in the location and size of the barcodes.

## Suggested parent term

[10X sequencing](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0008995)

## Use case

This term i

[2019-05-22 10:54] ESapenaVentura opened #22 "Add term for 10X 3' v1 sequencing"
## Preferred term label

10X 3' v1 sequencing

## Synonyms

10X 3' v1

## Textual definition

10x 3' v1 is the first version of the 10X sequencing technology that sequences from the 3' end of nucleic acid molecules. Differs from 5' v1 in the captured end from the polyadenylated transcript.

## Suggested parent term

[10X v1 sequencing](https://github.com/HumanCellAtlas/ontology/issues/21) (Still n

[2019-05-22 15:01] daniwelter commented on #18
http://www.ebi.ac.uk/efo/EFO_0009898

[2019-05-22 15:02] daniwelter commented on #19
http://www.ebi.ac.uk/efo/EFO_0009899

[2019-05-22 15:02] daniwelter commented on #20
http://www.ebi.ac.uk/efo/EFO_0009900

[2019-05-22 15:02] daniwelter commented on #21
http://www.ebi.ac.uk/efo/EFO_0009897

[2019-05-22 15:03] daniwelter commented on #22
http://www.ebi.ac.uk/efo/EFO_0009901

[2019-05-22 15:08] ESapenaVentura commented on #22
Thanks!

[2019-05-22 15:10] daniwelter commented on #22
Please note that this ID should not be used until after the next EFO release - 17/06/19 - and subsequent HCAO rebuild

[2019-05-30 13:33] malloryfreeberg opened #23 "Add EDAM term for Count matrix"
For new term requests, please provide the following information:

## Preferred term label

Count matrix

## Synonyms

Raw count matrix; Read count matrix; Tag count matrix

## Textual definition

A table of unnormalized values representing summarised read counts per genomic region (e.g. gene, transcript, peak).

Modified description from [here](https://www.ebi.ac.uk/training/online/glossary/normal

[2019-05-30 13:35] malloryfreeberg opened #24 "Add term for Quality control metrics"
For new term requests, please provide the following information:

## Preferred term label

Quality control metrics

## Synonyms

QC metrics

## Textual definition

Results of testing an output or a sample of an output against the desired specification or standard.

[Modified from citation](https://en.oxforddictionaries.com/definition/quality_control)

## Suggested parent term

EDAM term under [Rep

[2019-05-30 13:41] malloryfreeberg opened #25 "Add EDAM term for Alignment reference"
For new term requests, please provide the following information:

## Preferred term label

Alignment reference

## Synonyms

~Alignment reference sequence; Alignment reference profile; Alignment reference structure~

## Textual definition

One or a set of reference molecular sequences, structures, or profiles used for alignment of genomic, transcriptomic, or proteomic experimental data.

## Sugges

[2019-05-30 13:45] malloryfreeberg opened #26 "Add EDAM term for Protocol"
For new term requests, please provide the following information:

## Preferred term label

Protocol

## Synonyms

None

## Textual definition

Information about how a scientific experiment or analysis was carried out that results in a specific set of data or results used for further analysis or to test a specific hypothesis.

[Citation](https://en.oxforddictionaries.com/definition/protocol)

## Su

[2019-06-06 10:17] malloryfreeberg opened #27 "Add a term for 10x 3' v3 sequencing"
For new term requests, please provide the following information:

## Preferred term label

10X 3' v3 sequencing

## Synonyms

10X 3' v3

## Textual definition

10X 3' v3 is the third version of the 10x sequencing technology that sequences from the 3' end of nucleic acid molecules.

## Suggested parent term

[10X v3 sequencing](https://github.com/HumanCellAtlas/ontology/issues/18)

## Attribution

[2019-06-06 10:17] malloryfreeberg opened #28 "Add a term for 10x 5' v3 sequencing"
For new term requests, please provide the following information:

## Preferred term label

10X 5' v3 sequencing

## Synonyms

10X 5' v3

## Textual definition

10X 5' v3 is the third version of the 10x sequencing technology that sequences from the 5' end of nucleic acid molecules.

## Suggested parent term

[10X v3 sequencing](https://github.com/HumanCellAtlas/ontology/issues/18)

## Attribution

[2019-06-06 10:33] malloryfreeberg opened #29 "Add a term for Slide-seq"
For new term requests, please provide the following information:

## Preferred term label

Slide-seq

## Synonyms

None

## Textual definition

A method for transferring RNA from tissue sections onto a surface covered in DNA-barcoded beads with known positions, allowing the locations of the RNA to be inferred by sequencing.

[paper citation](https://science.sciencemag.org/content/363/6434/1463)
[P

[2019-06-06 10:40] malloryfreeberg opened #30 "Add a term for SPLiT-seq"
For new term requests, please provide the following information:

## Preferred term label

SPLiT-seq

## Synonyms

None

## Textual definition

Split-pool ligation-based transcriptome sequencing (SPLiT-seq) is a single-cell RNA-seq method that labels the cellular origin of RNA through combinatorial barcoding.

[paper citation](https://science.sciencemag.org/content/360/6385/176)
[PubMed entry](htt

[2019-06-06 12:39] malloryfreeberg opened #31 "Add a term for perfusion (specimen collection)"
For new term requests, please provide the following information:

## Preferred term label

perfusion

## Synonyms

None

## Textual definition

The passage of fluid through the lymphatic system or blood vessels to an organ or a tissue.
[citation](https://www.dictionary.com/browse/perfusion)

## Suggested parent term

[collecting specimen from organism](https://ontology.staging.data.humancellatlas.

[2019-06-06 15:44] daniwelter commented on #31
Based on the definition, this is not actually a specimen collection technique so the requested parent is not appropriate. From our available list of parent classes, I would suggest either [medical procedure](https://ontology.staging.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0002571) or directly as a child [experimental process](https://ontology.staging

[2019-06-06 15:51] daniwelter commented on #18
@ambrosejcarr The next EFO release isn't actually until June 17th so the URI won't be publicly available until the 18th at the earliest. I only post the allocated ID on the ticket for the requester's information

[2019-06-06 15:56] daniwelter commented on #28
@malloryfreeberg Are we confident that 5' v3 is actually a thing? Based on https://kb.10xgenomics.com/hc/en-us/articles/115003764132-How-does-cellranger-count-auto-detect-chemistry- and https://kb.10xgenomics.com/hc/en-us/articles/360000559571-How-can-I-remove-batch-effects-among-samples- and other help articles on the 10x genomics page, I'm not sure such a thing actually exists.

[2019-06-06 15:58] malloryfreeberg commented on #28
@kbergin @ambrosejcarr any thoughts?

[2019-06-06 16:33] daniwelter commented on #23
New term request https://github.com/edamontology/edamontology/issues/400

[2019-06-06 16:39] daniwelter commented on #26
@malloryfreeberg In order to qualify for the data branch, especially at root level, the definition needs to be framed in relation to data. Please review.
See https://www.ebi.ac.uk/ols/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fdata_2526 or https://www.ebi.ac.uk/ols/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fdata_2042 for examples

[2019-06-06 16:50] daniwelter commented on #25
@malloryfreeberg The synonyms provided do not seem to be exact synonyms of each other and of the request terms, rather they appear to be sub-terms. EDAM only allows exact synonyms, ie they all have to be different names for the exact same thing.

[2019-06-06 16:53] daniwelter commented on #24
@malloryfreeberg I would strongly recommend `Quality control report` as the preferred label for this term.

[2019-06-06 16:53] daniwelter commented on #25
https://github.com/edamontology/edamontology/issues/401

[2019-06-06 18:04] malloryfreeberg commented on #24
@daniwelter that works for me. Can we add `Quality control metrics` as a synonym, then?

[2019-06-06 18:05] malloryfreeberg commented on #25
@daniwelter That makes sense. Please ignore the suggested synonyms (will cross them out in the ticket).

[2019-06-06 18:09] daniwelter commented on #24
@malloryfreeberg I can suggest it - it's up to the editors whether they consider it a strict enough synonym.

[2019-06-06 20:30] kbergin commented on #28
Asking our local PO who oversees 10X in the lab, she says it is a thing.

[2019-06-07 08:38] malloryfreeberg commented on #26
@daniwelter took a look at the examples you posted, and I updated the suggested definition. Do you think the definition now is more in line with the requirements for EDAM/Data?

[2019-06-07 08:41] daniwelter commented on #26
@malloryfreeberg Any way we can get rid of procedure, or make it something like data about a procedure. I worry that with the current definition, the editors will reclassify protocol as an operation.

[2019-06-07 08:48] malloryfreeberg commented on #31
I'm trying to find a term to fill in for `collection_protocol.method` (from [this paper](https://www.sciencedirect.com/science/article/pii/S2405471216302666?via%3Dihub#sec4))for the following sample collection procedure:

"Mouse islets were isolated (and pooled) from five C57BL/6 and ICR mice by perfusion of the common bile duct with 0.8 mM Collagenase P (Roche), digestion of the pancreata with 0.

[2019-06-07 08:50] malloryfreeberg commented on #26
@daniwelter how about now?

[2019-06-07 14:09] zperova commented on #31
Perfusion is used to get rid of the bile in the bile duct in this case. I would put that in the description, but the ultimate collection method is organ extraction followed by digestion and centrifugation.

Perfusion is commonly used to get rid of the blood when one wants to fix the mouse brain for furter extraction.

[2019-06-07 14:19] malloryfreeberg commented on #31
Thanks @zperova !

Closing this ticket.

[2019-06-07 14:19] #31 closed

[2019-06-07 15:26] zperova opened #33 "Add a term for smFISH"
## Preferred term label

smFISH
single-molecule fluorescence in situ hybridization

## Synonyms

none

## Textual definition

Single-molecule RNA FISH is a method for detecting individual RNA molecules within cells with short fluorescent labelled oligonucleotide probes via fluorescence microscopy.

[paper 1](https://science.sciencemag.org/content/280/5363/585)
[PubMed entry 1](https://www.ncbi.nlm

[2019-06-07 15:28] zperova commented on #33
technically all the other terms that have `FISH` in them should be a child term of this one - because they are based on this method.

[2019-06-08 21:25] malloryfreeberg opened #34 "Add a term for mouse strain ICR/HaJ"
For new term requests, please provide the following information:

## Preferred term label

ICR/HaJ

## Synonyms

ICR

## Textual definition

ICR/HaJ is a mouse strain as described in Jackson Laboratory strain index. This inbred strain is derived from the outbred strain ICR. It may be useful in therapeutic drug testing and genetic analysis of carcinogen-induced colon cancer. [citation](https://www.

[2019-06-10 10:33] daniwelter commented on #26
https://github.com/edamontology/edamontology/issues/402

[2019-06-10 10:36] daniwelter commented on #24
https://github.com/edamontology/edamontology/issues/403

[2019-06-10 13:37] ambrosejcarr commented on #28
The confusion may be that it is bundled with TCR profiling: https://support.10xgenomics.com/single-cell-vdj/datasets . There have been requests by the community to break it out as a general purpose kit separate from the TCR.

[2019-06-10 13:37] ambrosejcarr commented on #18
Got it, thanks for the explanation.

[2019-06-11 10:05] malloryfreeberg opened #35 "Add terms for file formats"
New terms to add to EDAM under Format:

# 1. Zarr

## Preferred term label

Zarr

## Synonyms

None

## Textual definition

The Zarr format is an implementation of chunked, compressed, N-dimensional arrays for storing data. ([citation](https://zarr.readthedocs.io/en/stable/index.html))

## Suggested parent term

[Binary format](https://www.ebi.ac.uk/ols/ontologies/edam/terms?iri=http%3A%2F%2Fedamo

[2019-06-11 11:31] daniwelter commented on #35
https://github.com/edamontology/edamontology/issues/404
https://github.com/edamontology/edamontology/issues/405
https://github.com/edamontology/edamontology/issues/406

[2019-06-13 13:00] daniwelter commented on #34
http://www.ebi.ac.uk/efo/EFO_0009917

[2019-06-13 13:14] daniwelter commented on #33
http://www.ebi.ac.uk/efo/EFO_0009918

[2019-06-13 13:17] daniwelter commented on #30
http://www.ebi.ac.uk/efo/EFO_0009919

[2019-06-13 13:18] daniwelter commented on #29
http://www.ebi.ac.uk/efo/EFO_0009920

[2019-06-13 13:22] daniwelter commented on #28
http://www.ebi.ac.uk/efo/EFO_0009921 - provisional IRI, to be released 17/6/19, available from 18/6/19

[2019-06-21 16:00] willrockout opened #36 "Add term for surgeon and microsurgeon roles"
For new term requests

# 1. Surgeon

## Preferred term label

surgeon

## Synonyms

None

## Textual definition

A physician who performs surgical operations.

## Suggested parent term

[Organization role](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0002012)

## Use case

A project may add a contributor that is a surgeon. Currently, have a dataset with

[2019-06-25 09:56] daniwelter commented on #36
Would this use case not be covered by the existing [`clinician`](https://ontology.staging.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0009740) term?

[2019-06-26 15:47] willrockout commented on #36
Yeah, that's what I was leaning towards but I thought it wasn't specific enough. You have a better idea on these than me so if you think it works I will use clinician.

[2019-07-01 08:47] daniwelter commented on #36
Assuming this is for the contacts tab, unless there's a really compelling argument why users must know that this contributor is specifically a (micro)surgeon rather than a clinician in general (as opposed to an experimental scientist, computational scientist or PI), I don't think we need to capture this level of detail. I'd rather not set a precedent of becoming too detailed this early on or we ma

[2019-07-01 09:50] #18 closed

[2019-07-01 09:50] #20 closed

[2019-07-01 09:50] #19 closed

[2019-07-01 09:50] #21 closed

[2019-07-01 09:50] #28 closed

[2019-07-01 09:50] #30 closed

[2019-07-01 09:50] #22 closed

[2019-07-01 09:50] #33 closed

[2019-07-01 09:50] #27 closed

[2019-07-01 09:50] #34 closed

[2019-07-01 09:50] #29 closed

[2019-07-01 09:51] daniwelter commented on #7
Closing this ticket as there has been no movement on it in months. Please file a new ticket if this is still an issue.

[2019-07-01 09:51] #7 closed

[2019-07-01 17:09] willrockout commented on #36
Works for me!

[2019-07-01 17:09] #36 closed

[2019-07-11 14:37] malloryfreeberg opened #37 "Add term for Fluidigm C1 platform"
For new term requests, please provide the following information:

## Preferred term label

Fluidigm C1

## Synonyms

N/A

## Textual definition

The Fluidigm C1 is a microfluidic platform for single-cell RNA-Seq and DNA-Seq library preparation. Cell suspensions are added to the integrated fluidic circuit which shuttles individual cells into microfluidic chambers which are flooded with reagents in

[2019-07-12 12:39] zperova opened #38 "Add term for Slide-seq"
For new term requests, please provide the following information:

## Preferred term label

Slide-seq

## Synonyms

(e.g., Absent spleen)

## Textual definition

A method for transferring RNA from tissue sections onto a surface covered in DNA-barcoded beads with known positions, allowing the locations of the RNA to be inferred by sequencing.

https://www.ncbi.nlm.nih.gov/pubmed/30923225

## Suggest

[2019-07-12 15:55] daniwelter commented on #38
Closing because this term already exists

[2019-07-12 15:55] #38 closed

[2019-07-15 14:45] malloryfreeberg commented on #37
@daniwelter

Please see the following Slack thread related to what "Fluidigm C1" is.

tl;dr: We will need to be able to put "Fluidigm C1" as a library preparation method, whether that means adding the term to EFO in a particular way or expanding the library preparation method ontology scope in a particular way.

[2019-07-15 14:56] malloryfreeberg commented on #37
Highlights of the thread:

Mallory Freeberg
Ambrose, out of curiosity, what you you consider the library preparation method for the following:

“Isolated single cells were re-suspended at a density of 700 live cells/μl in DMEM with 5% fetal calf serum (FCS). Cells were stained for DNA content and viability by supplementing the re-suspension buffer with NucBlue live cell stain (Life technologies, f

[2019-07-17 22:27] pnejad opened #39 "Help with ontology mappings for mouse endoderm dataset."
Hi Dani  & Zoe,

Could you please help @willrockout and I map fields to the correct ontologies? We took a hack at a few, please let us know if they are incorrect.

MOUSE STRAIN = Afp - GFP

SPECIMEN_FROM_ORGANISM.ORGAN:

- whole embryos
- endoderm = UBERON:0000925 ?
- gut tube

SPECIMEN_FROM_ORGANISM.ORGAN_PART

- what would be the organ part if the organ is 'whole embryo'?
- parietal endoderm = U

[2019-07-18 08:50] daniwelter commented on #9
This script is now available to wranglers in the HCA data wrangling repo.

[2019-07-18 14:24] daniwelter commented on #37
We now have Fluidigm C1-based dissociation (http://www.ebi.ac.uk/efo/EFO_0010048). I will added Fluidigm C1-based library preparation as another EFO term.

[2019-07-22 10:08] daniwelter commented on #39
Afp-GFP - needs to be added to EFO, please submit a new term request ticket.
whole embryos - UBERON:0000922
endoderm - UBERON:0000925
gut tube - UBERON:0001555 or UBERON:0007026 (presumptive gut) if it's for an embryo

organ part is not a required field and it doesn't make sense to fill it in for "whole embryo" since by definition the whole "structure" is used, not a sub-part
parietal endoderm - U

[2019-07-22 10:31] #9 closed

[2019-07-22 10:31] #23 closed

[2019-07-22 10:31] #25 closed

[2019-07-22 10:31] #24 closed

[2019-07-22 10:31] #26 closed

[2019-07-22 10:31] #35 closed

[2019-07-24 10:29] daniwelter commented on #37
Fluidigm C1-based library preparation is now in EFO under the ID http://www.ebi.ac.uk/efo/EFO_0010058 and will be publicly available after the August release.

[2019-07-24 12:20] daniwelter commented on #11
Proposal here: https://docs.google.com/document/d/14jBaC1datf12WRQBCQcJ2kZ0OLp880ghw6oaJd0KPA4/edit?usp=sharing

[2019-08-01 17:34] pnejad opened #40 "Add Afp-GFP mouse strain to EFO"
## Preferred term label

Afp-GFP

## Textual definition

Mouse strain --> Afp-GFP , information about this mouse can be found in the paper: https://www.nature.com/articles/s41586-019-1127-1

The paper cites another paper that calls the strain Tg(Afp‐GFP), I'm not sure which would be more appropriate to add.

https://onlinelibrary.wiley.com/doi/full/10.1002/dvdy.20843

[2019-08-01 17:35] pnejad commented on #40
@willrockout

[2019-08-01 17:42] pnejad opened #41 "Visceral endoderm needs importing in next release"
Not sure which format to follow for this type of ticket, but it is based on discussions in ticket #39

Comment from Dani: "visceral and definitive endoderm - UBERON:0004877 (needs importing in next release - please file a ticket) and UBERON:0005439".

[2019-08-01 17:43] pnejad commented on #41
@zoependlington  Please let me know if you need more information for this ticket! Also tagging co-wrangler @willrockout.

[2019-08-05 15:03] zoependlington commented on #40
I added Afp-GP as the main label and Tg(Afp-GFP) as the synonym with references to both papers.

It'll be available (EFO_0010081) in the next release.

[2019-08-06 17:48] pnejad commented on #40
@zoependlington Thank you! Is it Afp-GP or Afp-GFP?

[2019-08-07 07:48] zoependlington commented on #40
@pnejad Sorry, typo on my behalf in that reply. It's Afp-GFP :-)

[2019-08-20 13:03] pnejad opened #42 "Need help with mapping to correct ontologies for kidney snRNA-seq dataset"
@zoependlington (or @zperova ?) could you help me map my fields to the correct ontologies? I'm unsure about some, but I've attempted to map some myself -- please let me know if any are incorrect!

- ethnicity = Non-Hispanic White = HANCESTRO:0005 (european) ?
-----------
donor disease
- Renal mass = ?
- Acoustic neuroma = MONDO:0001569 ?
- OSA = MONDO:0007147 ?
- Hypertension = ?
- AKI = ?
- pleur

[2019-08-21 12:25] mshadbolt commented on #42
I'm not expert but maybe some of these would work:

[hypertensive disorder:MONDO_0005044 ](https://ontology.staging.data.humancellatlas.org/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0005044) - there are more specific child terms of this

hereditary hemochromatosis: [MONDO_0006507](https://ontology.staging.data.humancellatlas.org/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.ob

[2019-08-21 12:32] mshadbolt commented on #37
@zoependlington just following up on how long it would take for this term to be added into the HCAO? Is there a release scheduled? thanks

[2019-08-21 16:21] daniwelter commented on #37
@zoependlington is on annual leave until the start of September so I wouldn't anticipate a release until then. If it's a massive emergency, I may be able to do a release early next week - otherwise I'm sure Zoe will be able to do one as soon as she's back.

[2019-08-22 05:26] mshadbolt commented on #37
@daniwelter no not urgent. I was more just curious about the process and how long it would normally take to get our ontology once it is available in the EFO

[2019-08-22 07:15] daniwelter commented on #37
EFO can normally be released in the HCA environments as soon as it's been released and available in the public OLS (about 24hrs after release). It just needs someone available to do the release. I believe a specific schedule was under discussion - 3 days after EFO release if memory serves - but this clashed with Zoe's annual leave this month.

[2019-08-23 10:42] mshadbolt commented on #37
Ok great thanks for the info Dani, we can discuss further with Zoe once she is back from vacation.

[2019-09-13 12:18] zoependlington commented on #41
@pnejad @willrockout Added, will be in the next release (which I'm hoping will be the 19th September).

[2019-09-13 12:37] zoependlington commented on #42
Renal mass = EFO_0003865 (if no other information is provided)
Acoustic neuroma = EFO_0000693 (is a synonym of this term, but I am not 100% convinced)
OSA = EFO_0003918
Hypertension = EFO_0000537
AKI = HP_0001919 (acute kidney injury?)
pleural effusion = EFO_0009637
benign prostatic hyperplasia = EFO_0000284
diverticulitis = EFO_1001460
anxiety = EFO_0005230
depression = EFO_0007634 (again not 100

[2019-09-13 12:39] zoependlington commented on #37
@mshadbolt The next EFO release is on Monday 16th September, so I will get the next HCAO release out next week (Thursday at the latest), please let me know if there's any problem with this! 😄

[2019-09-13 12:40] zoependlington commented on #39
I will move this ticket to done as the term requests required are in other tickets, but if anything else is needed @pnejad let me know and I'll move this ticket back.

[2019-09-13 15:25] pnejad commented on #42
@zoependlington  Thank you for looking over this! I submitted this dataset already (part of the czi travel incentive). I will compare your suggestions with what I submitted and then do an AUDR next month after the meeting:)

[2019-09-24 12:13] mshadbolt opened #43 "Add term for EasySep live/dead separation"
## Preferred term label

EasySep cell separation (?)

## Synonyms

?

## Textual definition

Cells are targeted for either removal (negative selection and depletion) or selection (positive selection) using antibody complexes directed to specific cell surface antigens. The antibody complexes link targeted cells to EasySep™ magnetic particles. Labeled cells are pulled to the sides of the tube when t

[2019-09-30 14:12] pnejad opened #44 "Add 2 new terms to collection method"
For new term requests, please provide the following information:

## Preferred term label

- oophorectomy
- tonsillectomy

## Synonyms

- oophorectomy --> ovariectomy

## Textual definition

- oophorectomy --> surgical removal of an ovary or ovaries

- tonsillectomy --> a surgical procedure in which both palatine tonsils are fully removed from the back of the throat

## Suggested parent term

[col

[2019-10-02 18:31] cjvillar opened #45 "Jiarui data set library prep ontologies"
For new term requests, please provide the following information:

library construction method ontology_label and id for Seq-Well, CEL-Seq2, and sci-RNA-seq to below this term OBI_0000711

## Preferred term label
sci-RNA-seq needs a term

Please look in the hierarchy in a browser such as [OLS](http://www.ebi.ac.uk/ols/ontologies/hcao)

Jiarui dataset

[2019-10-03 07:56] zperova commented on #45
@cjvillar It looks like your changes did get saved in this ticket.

[2019-10-07 11:09] #37 closed

[2019-10-07 11:09] #40 closed

[2019-10-07 11:09] #41 closed

[2019-10-07 11:09] #39 closed

[2019-10-07 11:09] #42 closed

[2019-10-07 15:28] pnejad opened #46 "Add new cell type term"
For new term requests, please provide the following information:

## Preferred term label

cortical nephrogenic zone cells

## Textual definition

Cells from the cortical nephrogenic zone.

## Suggested parent term

kidney cortical cell
https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0002681

## Use case

This is a cell type for one of the GEO datasets

[2019-10-07 15:34] zoependlington commented on #46
One for @dosumis for CL.

[2019-10-07 15:38] dosumis commented on #46
Note to self - relevant Uberon term: http://www.ontobee.org/ontology/UBERON?iri=http://purl.obolibrary.org/obo/UBERON_0009871

[2019-10-08 12:53] mshadbolt opened #47 "DNA library preparation ontology"
For new term requests, please provide the following information:

## Preferred term label

DNA library construction

## Synonyms

## Textual definition

A DNA library is constructed from DNA extracted from cells.

## Suggested parent term

library preparation `OBI:0000711 `

## Use case

When data is uploaded from libraries composed of genomic DNA

## Attribution

If you would like a nanoattributi

[2019-10-10 11:23] mshadbolt commented on #15
@zoependlington this is a term that I need to include in a dataset that I would like to submit soon, do you think you could pick this up and figure out whether we are likely to have this term added soon or if there is a reason no to add it?

[2019-10-10 11:50] zoependlington commented on #15
@dosumis Is there any update on this term?

[2019-10-10 11:59] dosumis commented on #15
Not clear that this is a term worth adding to CL if the tissue/organ type curated = uberon:'lung parenchyma’. The new term would simply be defined as:

Any cell that is part_of (some) Uberon:'lung parenchyma'

Note - lung parenchyma itself is a very loose, general term covering multiple tissues (with many cell types).   On this basis,  every a new organ or tissue was added to the HCA/DCP, we could

[2019-10-10 12:00] dosumis commented on #15
(Note - it may still be worth editing Uberon to populate tissues under 'lung parenchyma')

[2019-10-11 09:10] zoependlington commented on #45
@cjvillar Could you provide a description for the new term for sci-RNA-seq please? And any references to papers etc. Thanks!

Also just to confirm, you would like all adding as a child of library preparation?

[2019-10-11 09:20] zoependlington commented on #44
The new term IDs are:
oophorectomy --> EFO_0010173
tonsillectomy --> EFO_0010174

These will be available after the next release.

[2019-10-11 09:31] zoependlington commented on #43
New term ID is EFO_0010175. Term will be available after the next release.

[2019-10-14 08:08] mshadbolt commented on #15
I discussed with @zoependlington and we decided that having 'lung parenchymal cell' when we already have 'lung parenchyma' as the organ part doesn't really add much information so I will close this ticket.
Will leave it up to @dosumis if he wants to make a ticket with regards to the work he mentions to populate tissues.

[2019-10-14 08:08] #15 closed

[2019-10-15 12:11] #47 closed

[2019-10-15 12:11] #43 closed

[2019-10-15 12:11] #44 closed

[2019-10-15 12:46] mshadbolt opened #48 "Questions about spatial resolution of UBERON ontologies"
As a data wrangler for the WSSS projects I need to try to match the spatial organ terms they are using with suitable ontology organ and organ part ontologies. There are a few organs where there are gaps in specific spatial ontologies and I want to understand if these are terms that could/should be added to UBERON, or if we need to look in to using an alternate ontology, e.g. [Biological Spatial On

[2019-11-07 13:37] mshadbolt commented on #48
@zoe @simonjupp was just wondering if you have any thoughts about how to get better spatial resolution when defining where specimens are being taken from within organs.

[2019-11-07 16:01] simonjupp commented on #48
If we can standardise to a common model on the `spatial index`, then we should look to add this as a new property in the metadata schema so users can provide alongside the uberon term for the primary biopsy site name.

For the specific biopsy site, many of these should already be covered by Uberon/FMA (https://www.ebi.ac.uk/ols/ontologies/fma). It would be good to get a list of the ones you've enc

[2019-11-08 04:39] tianap opened #49 "Add new cell type"
For new term requests, please provide the following information:

## Preferred term label

CD34-positive hematopoietic stem cell

## Synonyms

CD34+ HSC

## Textual definition

CD34-positive hematopoetic stem cell is a hematopoetic stem cell that is CD34-positive.

## Suggested parent term

hematopoietic stem cell
https://ontology.staging.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2

[2019-11-11 01:51] mshadbolt commented on #48
See the first post of the ticket for a list of organ parts that don't map to terms in the uberon ontology. We don't use the FMA ontology.

[2019-11-15 09:33] zoependlington commented on #49
@dosumis One for CL.

[2019-11-27 09:08] mshadbolt opened #50 "Ensure the HCA Ontology is kept up to date with current ontologies"
Recent work by @jahilton and the @HumanCellAtlas/data-ops team has discovered multiple errors in our HCA ontology that has made it inconsistent with official ontologies.

We would need input from @simonjupp and @zoependlington to figure out how to make sure our ontology is kept up to date.

A couple of examples are:
### OBI:0000869

In the HCA ontology instance the label is polyA RNA https://ontol

[2019-11-27 09:43] ESapenaVentura commented on #50
(**tl;dr:** We need to solve the problem of obsolete ontology terms in our metadata either by versioning or by automatic updates.)

Given what was discussed about the mouse strain:

- This one is for @simonjupp and @zoependlington: Is there any way to know when a term is obsolete programmatically? (Such as a changelog for each ontology release, etc something that we could look at every month)

- T

[2019-11-27 11:15] zoependlington commented on #50
@mshadbolt the OBI term is the same in HCA as it is in EFO (see here: https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000869) as EFO has a static OBI import. We are gradually working on making all EFO imports dynamic and so this will be rectified at that point. However, if it is crucial, I'm happy to fix this in EFO right now. Just let me know!

As

[2019-11-27 16:50] ESapenaVentura commented on #50
Thanks for the prompt answer @zoependlington !

What I am looking for is some kind of list of changes from one version to the next one, so that instead of having to look through all the ontology terms that we use for each dataset and look if they are obsolete, we can perform automatic tests as:
[code]
Of course, automatic replacement of terms is in the far future, but if we have something set up t

[2019-11-28 11:02] zoependlington commented on #50
@ESapenaVentura I can generate an ontology diff like [this](https://github.com/HumanCellAtlas/ontology/files/3901259/efo_slim_bubastis_diff.txt). Would this be useful? I can do it for all elements of the HCAO release (hcao.owl, efo_slim.owl etc.). Classes that are deleted from the efo_slim.owl are the ones that are obsoleted in the full efo.owl and consequently not picked up by the automatic slimm

[2019-11-28 16:08] zoependlington commented on #50
@mshadbolt @ESapenaVentura A small update: The OLS instance has been updated now, so you should no longer see the EFO_0004472 term.

[2019-11-28 16:09] ESapenaVentura commented on #50
@zoependlington that looks amazing! Where would that document live?

Also, thanks for the hard work!

[2019-11-28 16:20] zoependlington commented on #50
@ESapenaVentura I can create a new folder in the ontology repo for the diffs to live? Or I can attach them as assets to each release. Whichever is more useful for you.

[2019-11-28 16:55] ESapenaVentura commented on #50
I think the folder in the ontology repo would be amazing. Then we could make the checks from there. Thanks @zoependlington!

[2019-11-29 09:38] zoependlington commented on #50
@ESapenaVentura Will update this with every release: https://github.com/HumanCellAtlas/ontology/tree/master/src/ontology/diffs

[2019-11-29 10:19] ESapenaVentura commented on #50
Thanks @zoependlington !!

[2019-11-29 12:00] mshadbolt opened #51 "10X V(D)J sequencing"
We may need to do some further research on the scope of terms we need to add to capture this technology as well as where they would sit within the hierarchy of 10X terms.

I am not sure if it is worth also creating more specific terms for each type of cDNA enrichment for T cell and B cell sequences?

Have any other stakeholders thought about what kind of ontologies might be needed to capture exper

[2019-12-02 10:46] zperova opened #52 "Add peripheral and central retina terms"
For new term requests, please provide the following information:

## Preferred term label

peripheral retina

central retina

## Synonyms

## Textual definition

Peripheral retina - region of retina that extends from central retina to ora serrata. Peripheral retina is dominated by rods and also has less ganglion cells and is not as thick as central retina. It is responsible for peripheral and nigh

[2019-12-02 13:41] zoependlington commented on #52
Hi @zperova, is [this](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0013682&viewMode=All&siblings=false) term good for peripheral retina? If so I can import this into HCAO.

I'll have to request the central retina term from UBERON.

[2019-12-09 11:29] mshadbolt commented on #48
@simonjupp do you think we should add the FMA ontology to our schema to allow a wider variety of anatomy terms to be used for organ parts?

[2019-12-09 16:57] zperova commented on #52
@zoependlington Could the description be updated?

[2019-12-10 09:21] zoependlington commented on #52
@zperova I'll create a ticket and as UBERON to update to the above :-)

[2019-12-10 11:04] simonjupp commented on #48
We can import from FMA. These will end up as subclasses of uberon terms in the HCAO so it won't effect validation. Just let @zoependlington know the list of FMA terms you want.

[2019-12-11 16:16] cjvillar commented on #45
Hi Zoe,
Here is a good description: https://teichlab.github.io/scg_lib_structs/methods_html/sci-RNA-seq.html

Here is a paper: https://science.sciencemag.org/content/357/6352/661

Yes, please add this as a child of lib prep (OBI_0000711)

[2019-12-16 10:20] zoependlington commented on #45
sci-RNA-seq is http://www.ebi.ac.uk/efo/EFO_0010550.

Everything you've requested is also now sitting under library preparation.

You should see this after the next release (17th December).

[2019-12-16 14:54] zperova opened #53 "Incorrect definition of cadaver dissection"
In the following term's definition:
cadaver dissection
http://www.ebi.ac.uk/efo/EFO_0009807

replace `animal or part` to `human body` for the definition to read:
`sequential division of tissue layers to expose (and isolate) organs and organ parts of a deceased human body`

[2019-12-16 14:55] zperova commented on #53
@zoependlington I made a mistake in the original ticket for this term: https://github.com/HumanCellAtlas/ontology/issues/16
 Could you please help to fix it?

[2019-12-16 15:05] zoependlington commented on #53
Of course @zperova. I just released EFO today so unfortunately this won't appear in tomorrow's HCA ontologies release but I'll make sure it's done for the January release.

[2019-12-16 15:30] zperova commented on #53
oh, I thought it would be tomorrow @zoependlington

[2019-12-16 15:49] zoependlington commented on #53
@zperova The HCAO release is tomorrow, but I have to make the edits in EFO which releases on the 15th or the next working day so that was released today and will then be pulled into the HCA ontology release tomorrow. Please let me know if this is breaking or if it's okay to appear in the January release. :-)

[2019-12-16 16:01] zperova commented on #53
thanks @zoependlington I will make a note for myself for the future!

[2019-12-17 09:28] mshadbolt opened #54 "Add zone of organs and children to the HCAO"
As discussed in #48 UBERON currently lacks some of the finer grained zones that are present in the FMA ontology. For the following organs would it be possible to add the `zones` under the UBERON organ/organ part parent to give us the ability to specify more specific regions of organs?

The one reservation I have about this is whether this will lead to inconsistencies in our data, so if there is an

[2019-12-17 09:30] mshadbolt commented on #48
I made a ticket (#54) to add some terms from the FMA as children of organ terms in UBERON in our HCAO

[2019-12-17 10:07] zperova commented on #54
@mshadbolt there are UBERON terms for the following:
Zone of uterine tube `UBERON:0013515`: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0013515
Zone of bone organ `UBERON:0005913`: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0005913
Intercostal muscle `UBERON:0001111`: https://www.eb

[2019-12-17 10:19] zoependlington commented on #54
Thanks @mshadbolt and @zperova! I'll make sure these are in HCAO for the January release. If there are any others, please feel free to continue commenting on this ticket.

[2019-12-17 10:20] #45 closed

[2019-12-17 10:20] #50 closed

[2019-12-17 10:36] mshadbolt commented on #54
For intercostal muscle UBERON doesn't go into the detail of which intercostal muscle it samples, whereas CBTM specifically samples the muscle between ribs 2 and 3 and would like to capture this information

I will double check the others once our OLS is back up as I thought I struggled to find some terms last time I looked

[2019-12-17 10:47] mshadbolt commented on #54
On example of bone that I would like added to our ontology that I think isn't there at the moment is the epiphysial plates of Tibia, Fibula and Femur

Epiphyseal plate of tibia http://purl.obolibrary.org/obo/FMA_33934
http://purl.obolibrary.org/obo/FMA_32792
https://www.ebi.ac.uk/ols/ontologies/fma/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFMA_34074

[2019-12-18 11:35] mshadbolt opened #55 "Investigate appropriate ontology for preservation and storage methods"
In our metadata schema, we have the module [`preservation_storage.json`](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/module/biomaterial/preservation_storage.json) that has preservation method and storage method as enums. Ideally these should be ontologies but the EFO doesn't appear to have any terms for these methods.

I'd like to find out whether we should be adding

[2020-01-13 10:32] zoependlington commented on #52
@zperova Just an update (I haven't forgotten about this ticket, promise!): The new term and the updated definition are done, just waiting for a new release of UBERON and then they will be pulled into HCAO.

[2020-01-13 10:38] zoependlington commented on #54
Reminder to self:
http://purl.obolibrary.org/obo/UBERON_0000117 - respiratory tube (has synonym - segment of tracheobronchial tree)

[2020-01-13 10:40] zoependlington commented on #51
@mshadbolt Would you like the three suggested terms adding, or are you still in discussion for which terms are required?

[2020-01-14 14:04] zoependlington commented on #53
@zperova All done. This will be released in the EFO release tomorrow and then pulled into the HCAO release on Monday.

[2020-01-15 14:32] zperova commented on #52
thanks @zoependlington

[2020-01-15 14:35] zperova commented on #53
Thanks @zoependlington Should I close it now or wait until Monday?

[2020-01-15 14:58] zoependlington commented on #53
I'll close once EFO is successfully released, thanks @zperova

[2020-01-15 15:45] #53 closed

[2020-01-20 11:46] zoependlington commented on #54
@mshadbolt I've added the FMA 'zone of' terms, but not the epiphyseal plates as they require a little more looking into and potentially changes to the ontology build. I'll try to get them added before the February release. Please let me know if there are any others you would like added.

[2020-01-21 17:58] mshadbolt commented on #51
Hi @zoependlington I was hoping to get some advice because I'm not really sure what the best term would be. Is there a technology expert that the ontology usually consults with when adding new terms?

[2020-01-23 11:53] zoependlington commented on #51
@mshadbolt I will bring this up in our next EFO meeting so we have a wider opinion and may be able to find someone who is expert enough to advise on this.

[2020-01-23 12:58] mshadbolt commented on #51
That sounds great, thanks Zoe!

[2020-01-30 19:13] dosumis opened #56 "Display human (FMA) labels"
HCAO is described as

Mammalian anatomy and cell type terms from Uberon and the cell ontology;
Human-specific labels from the Foundational Model of Anatomy

HCAO pulls in FMA labels,  (e.g. Hand in place of manus) but these are not displayed, except in an obscure place in term info:

![image](https://user-images.githubusercontent.com/112839/73481297-74f9c180-4393-11ea-93a9-addc694fc82c.png)

Inste

[2020-01-30 19:18] dosumis opened #57 "Set root terms for HCAO to something usable for browsing"
This can be set in yaml config.  See DUO for example.

Sensible set of terms.  Would this be sufficient?

Anatomical structure?
Organism
Cell

?

Current state for reference:

![image](https://user-images.githubusercontent.com/112839/73482019-dec69b00-4394-11ea-8c2c-fdf3c73445f9.png)

[2020-01-31 10:56] dosumis commented on #57
@henrietteharmse - do you know if the container used to run the HCAO OLS instance is sufficiently up to date to support specification of roots?

[2020-03-05 09:32] dosumis commented on #56
@henrietteharmse: Based on advice from @simonjupp that this was possible, I tried switching the AP used for label by adding this to the config:

[code]

The container builds and loads but this doesn't switch the display label as intended.  There is no mention of this config setting in the developer doc here:

Would you be able to look into whether this configuration option is available and if so h

[2020-03-26 12:00] mshadbolt opened #58 "Have Smart-seq and Smart-seq2 occur within single cell library construction"
Currently `Smart-seq: EFO:0008930` and `Smart-seq2: EFO:0008931` are within the EFO library preparation hierarchy but don't occur within `single cell library construction: EFO:0010183` when they are single cell library construction methods. I think they should either be moved or should also be in this part of the hierarchy. They should potentially come under `Smart-like: EFO:0010184` but will leav

[2020-03-26 12:03] mshadbolt commented on #58
Also it seems like many of the techniques within `library preparation` are exclusively single cell methods so might be worth doing a general review to see which should be moved

[2020-03-26 15:05] mshadbolt commented on #54
hi @zoependlington sorry for the delay but just circling back to this now. I was having a look at the release and can see that as an example 'zone of kidney' has been added, but the main reason I wanted to add this term was to get its child terms, 'Superior pole of kidney' and 'Inferior pole of kidney' is there a way of also copying the child terms?

[2020-03-26 15:06] mshadbolt commented on #51
Just remembering some of these old tickets... @zoependlington did you manage to get any expert opinion about V(D)J sequencing?

thanks

[2020-04-14 15:28] mshadbolt commented on #51
@zoependlington @dosumis although I am still not very confident in exactly how it should be modelled I think it would be get some ontology terms into the hcao so we have something to work with and worry about editing them later if it is not fully correct.

My suggestion would be a hierarchy as follows
10X 5' v2 sequencing: EFO_0009900
  | - 10X Immune profiling
     | - 10X TCR enrichment
     | -

[2020-04-20 14:53] zoependlington commented on #54
Hi @mshadbolt, apologies for the delay. I can absolutely add the children. They'll be available in the mid-May release, if that's okay?

[2020-04-20 14:55] zoependlington commented on #51
@mshadbolt I can add them as per your suggestion. I did not hear back from those I reached out to for opinion, but I can send another message just to double check. In this case, these will be available in the mid-May release.

Are there any x-refs for these terms, e.g. PMID? or synonyms you're aware of? Thanks.

[2020-04-21 09:24] mshadbolt commented on #54
awesome thanks @zoependlington !

[2020-04-21 11:07] mshadbolt commented on #51
Hi Zoe thanks for this. I edited the post to hopefully see the hierarchy better but i would want the immune profiling term as a sub term under the 5' v2 sequencing, and the immune profiling term two enrichment terms under that.

I don't think there is a particular publication that defines the technique, would it be worth linking to the 10X page? https://www.10xgenomics.com/products/vdj/?src=search

[2020-04-27 16:08] mshadbolt opened #59 "Update cell ontology to include new terms"
@zoependlington I was just curating some cell types and I noticed that
e.g. pulmonary ionocyte (https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0017000&viewMode=All&siblings=false) exists in the EBI OLS but not in our own HCAO
![Screenshot 2020-04-27 at 15 54 14](https://user-images.githubusercontent.com/13007987/80386509-5fffd200-889f-11ea-801e-5b6fbd

[2020-05-15 13:02] zoependlington commented on #51
- 10X Immune profiling (EFO_0010713)
- 10X TCR enrichment (EFO_0010714)
- 10X Ig enrichment (EFO_0010715)

All in EFO and will be imported into HCAO after the EFO release. I'll try and release HCAO mid-next week, so you'll see them then.

[2020-05-22 08:55] zoependlington commented on #52
@zperova Just an update, I'm still waiting for an UBERON release with these changes/additional term to pull into HCAO. Unfortunately the last release was in November (that I can see on OLS anyway) and so there has been no update since. I'll keep an eye on it and as soon as I can, I'll pull them into HCAO.

[2020-05-26 14:57] zperova commented on #52
thanks for the update @zoependlington !

[2020-06-15 11:09] ami-day opened #60 "New ontology term request (HCA) - vacuum aspiration"
For new term requests, please provide the following information:

## Preferred term label

vacuum aspiration

## Synonyms

-aspiration
-suction aspiration

## Textual definition

Vacuum or suction aspiration uses aspiration to remove uterine contents through the cervix. It may be used as a method of induced abortion, a therapeutic procedure used after miscarriage, or a procedure to obtain a sample

[2020-06-15 11:11] ami-day opened #61 "New ontology term request (HCA) - curettage"
For new term requests, please provide the following information:

## Preferred term label

curettage

## Synonyms

N/A

## Textual definition

Curettage, in medical procedures, is the use of a curette to remove tissue by scraping or scooping. Curettages are also a declining method of abortion. It has been replaced by vacuum aspiration over the last decade. Curettage has been used to treat teeth af

[2020-06-17 09:00] #51 closed

[2020-06-17 09:29] zoependlington commented on #60
Thanks @ami-day! This term has been added to EFO and therefore will be pulled into HCA ontologies after the next EFO release (July).

For your future reference, here is the ID:
EFO_0010727 | vacuum aspiration

[2020-06-17 09:30] zoependlington commented on #61
Thanks @ami-day! This term has been added to EFO and therefore will be pulled into HCA ontologies after the next EFO release (July).

For your future reference, here is the ID:
EFO_0010728 | curettage

[2020-07-29 17:50] gjdrumm2000 opened #62 "subclinical neuro-inflammation"
For new term requests, please provide the following information:

## subclinical neuro-inflammation

##

## a stage of MS that presents itself as neuro-inflammation in the brain before other typical symptoms arise

## Suggested parent term

Please look in the hierarchy in a browser such as [OLS](http://www.ebi.ac.uk/ols/ontologies/hcao)

## GSE 127969

Please specify under what circumstances you a

[2020-08-25 10:05] ami-day opened #63 "New ontology term request (HCA) - chorionic villus"
For new term requests, please provide the following information:

Please note that the term is available in the OLS but it is not available as a valid HCA metadata term.
http://purl.obolibrary.org/obo/UBERON_0007106

## Preferred term label

chorionic villus

## Synonyms

fetal part of placenta
chorionic villus
placental villous
villous chorion
fetal placenta
placental villus
chorionic villous
cho

[2020-09-16 16:19] Asgton opened #64 "GSE107746"
collection_protocol_4

ontology for 'hydrolisis' collection protocol

At last, we removed zona pellucida of oocytes by hydrolysis with 0.012 M hydrochloric acid to obtain naked oocyte without contamination of GCs

[2020-09-22 21:19] Asgton commented on #64
organ part ontology id for preovulatory follicle

[2020-10-14 17:29] dosumis commented on #52
The last Uberon release was about a month ago, so should now be available

![image](https://user-images.githubusercontent.com/112839/96024056-2b7ed300-0e4b-11eb-9136-66dc017d9d20.png)

[2020-10-22 16:25] paolaroncaglia commented on #48
Hi @mshadbolt,

Any objection if I close this ticket as a duplicate of #54?
I will then look into #54 and address any missing task (I see that Zoë has already done some work).

Thanks,
Paola

[2020-10-22 16:26] mshadbolt commented on #48
ok sounds good

[2020-10-22 16:36] #48 closed

[2020-10-22 17:09] paolaroncaglia commented on #54
Hi @mshadbolt ,
To speed things up, may I please ask you to summarise what terms from your original list are still missing in HCAO, and indicate if those are available in Uberon or FMA?
In the example you mention for intercostal muscle (“UBERON doesn't go into the detail of which intercostal muscle it samples, whereas CBTM specifically samples the muscle between ribs 2 and 3 and would like to capt

[2020-10-26 13:55] paolaroncaglia commented on #54
@mshadbolt FYI, ‘Superior pole of kidney' and 'Inferior pole of kidney’ were indeed already added to HCAO.

[2020-10-26 17:29] paolaroncaglia commented on #54
@mshadbolt Zoë released HCAO today, but the FMA terms listed in https://github.com/HumanCellAtlas/ontology/issues/54#issuecomment-566488227 are still missing due to a technical issue. We plan to address that before the next release.

[2020-10-27 11:20] mshadbolt commented on #54
Ok great, thanks for letting me know

[2020-10-29 18:14] paolaroncaglia commented on #58
Hi @mshadbolt ,
I'll transfer this issue to the EFO tracker, and I'll assign it to myself to look into in the (hopefully near) future. Thanks.

[2020-10-29 18:19] #58 closed

[2020-10-30 15:11] paolaroncaglia commented on #59
@mshadbolt
It looks like this term is not in HCAO OLS yet. I made a note to discuss and address at my next meeting with @zoependlington and @dosumis , it falls in the broader context of establishing a procedure to ensure that all e.g. CL terms created for HCAO actually end up in HCAO (possibly via subset tags).

[2020-10-30 15:37] paolaroncaglia commented on #63
Hi @ami-day ,
I'll be helping with HCAO requests. I will work with @zoependlington and @dosumis to ensure that this term is added to the next release of HCAO. Thanks,
Paola

[2020-10-30 15:53] paolaroncaglia commented on #64
Hi @Asgton ,
I'm new to this project, I'll be helping with HCA ontology requests. Do I understand correctly that you are looking for a term to represent the hydrolysis protocol above? If so I'll create one in EFO in the 'protocol' branch.
Do you also need a term for preovulatory follicle? If so, would the existing Uberon term [UBERON:0003982 'mature ovarian follicle'](https://www.ebi.ac.uk/ols/ont

[2020-10-30 16:06] paolaroncaglia commented on #46
@dosumis
Following up on this ticket. I'd like to help but wanted to make sure if you had already worked on this, as you noted the Uberon term you wanted to use as part_of. I can't see any ticket in the CL tracker for 'cortical nephrogenic zone cell', and I believe that the existing CL term 'nephrogenic mesenchyme stem cell' is not an exact match for Parisa's request. Could you please confirm when

[2020-10-30 16:17] paolaroncaglia commented on #49
@tianap (cc @dosumis as he was assigned previously)
Would the existing term [CL:0001024 CD34-positive, CD38-negative hematopoietic stem cell](https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0001024) fit your need?
Thanks,
Paola

[2020-11-04 17:38] paolaroncaglia commented on #52
Summary: the term that's still needed for this ticket (UBERON:8000004 central retina) wasn't imported in the HCAO release dated 2020-10-26. Pinning this ticket for discussion with @zoependlington at our next meeting.

[2020-11-04 18:11] paolaroncaglia commented on #62
Quick notes for self: need to clarify if the requested term ‘subclinical neuro-inflammation’ should be a child of EFO ‘disease staging’ (definition fits, though existing children are all related to cancer), or a phenotype. (Mondo has ‘neuronitis’, undefined, with a related synonym ‘neuroinflammation’ but a comment “Editor note: check this”.) Would the term apply to diseases other than MS?
The pape

[2020-11-05 14:25] paolaroncaglia commented on #64
Hi @pnejad and @mshadbolt ,

May I please ask for your advice on this ticket - would you agree with my proposed strategy above?

Many thanks,
Paola

[2020-11-05 14:27] paolaroncaglia commented on #62
Hi again @pnejad and @mshadbolt ,

May I ask for your feedback here too please. @zoependlington and I think that the requested term above should be a disease stage term based on the proposed definition, and I plan to add it in EFO by the next release like that unless you have any objection or advice. Please let me know if you disagree.

Thanks,
Paola

[2020-11-05 14:33] paolaroncaglia commented on #55
Hi @mshadbolt ,

Do you have a feeling for how many terms you'd need? EFO or HCAO don't import ERO terms atm, but we could create new EFO terms and xref ERO - that would also allow us to make the terms as specific as you'd need. @zoependlington could create a ROBOT template for you to provide info if that's helpful. Or let me know if you'd prefer to discuss this in person.

Thanks,
Paola

[2020-11-05 14:43] mshadbolt commented on #62
I thought our schema requires that disease terms that we use should be a part of MONDO. we only allow EFO for the 'normal' term that we use when there is no disease recorded for a speciment.

[2020-11-05 14:46] mshadbolt commented on #55
Hi @paolaroncaglia I am not sure what a ROBOT template is.

Currently we have them as an enums with the following values:

[code]

[2020-11-05 15:51] paolaroncaglia commented on #62
Thanks @mshadbolt . That's correct, disease terms should come from Mondo, but this would be a disease stage term. Mondo doesn't have those. :-)

[2020-11-05 16:17] paolaroncaglia commented on #55
Hi @mshadbolt ,
Thanks for clarifying.
We could look at your list in terms of description of samples, rather than sample conservation/storage methods. Then the ‘specimen’ branch in EFO may be useful. I’m attaching a screenshot, see e.g. the existing terms’'RNAlater specimen’,’'fresh specimen’,’'frozen specimen’. Most terms are imported from OBI, but some are EFO. OBI itself doesn’t have more speci

[2020-11-09 09:58] ami-day commented on #63
Hi @paolaroncaglia
Thanks for this. When will the next release of HCAO likely be? or has the above requested term already been added?

[2020-11-10 21:13] pnejad commented on #62
@paolaroncaglia What would be the correct mondo ontology to use for this field in our metadata? We need to put something down for disease (coming from Mondo). Is there something close to it?

[2020-11-10 21:17] pnejad commented on #64
@paolaroncaglia Sorry for the delayed response. Asgton is a former team member who has since moved on. Your proposed plan works great:

- hydrolysis to be added to EFO's protocol step
- UBERON:0003982 to be used for preovulatory follicle

Could you please tag me in the EFO ticket for hydrolysis so I can follow when it is released?

[2020-11-10 22:00] rachadele opened #65 "new term request - transition zone of prostate"
For new term requests, please provide the following information:

## Preferred term label
transition zone of prostate

(e.g., Asplenia)

## Synonyms
prostate transition zone
transition zone of human prostate

(e.g., Absent spleen)

## Textual definition

The region of the prostate gland anterior to the central and peripheral zones, surrounding the proximal urethra. It is the zone of the prostate g

[2020-11-10 22:10] rachadele opened #66 "new term request - peripheral zone of prostate"
For new term requests, please provide the following information:

## Preferred term label
peripheral zone of prostate

(e.g., Asplenia)

## Synonyms
prostate peripheral zone
peripheral zone of human prostate

(e.g., Absent spleen)

## Textual definition

The region of the prostate that is located posterior to central and transition zones, surrounding the distal urethra. It is the zone of origin fo

[2020-11-10 22:22] rachadele opened #67 "new term request - central zone of prostate"
For new term requests, please provide the following information:

## Preferred term label

central zone of prostate

(e.g., Asplenia)

## Synonyms

prostate central zone
central zone of human prostate

(e.g., Absent spleen)

## Textual definition

This region of the prostate gland that is located between the peripheral and transition zones, surrounding the ejaculatory ducts. It gives rise to a ver

[2020-11-10 22:49] rachadele opened #68 "new term request - head and neck lymph node"
For new term requests, please provide the following information:

## Preferred term label

head and neck lymph node

(e.g., Asplenia)

## Synonyms

(e.g., Absent spleen)

## Textual definition

lymph node of the head and neck

the definition should be understandable even for non-specialists. Include a PubMed ID to refer to any relevant article that provides additional information about the suggest

[2020-11-12 15:50] paolaroncaglia commented on #64
@pnejad

Sure, the ticket is https://github.com/EBISPOT/efo/issues/891 and I tagged you there. Thanks.

[2020-11-12 18:18] paolaroncaglia commented on #62
@pnejad and @mshadbolt

From the Methods section of PMID:31566584:
“Study subjects and procedures. … Inclusion criteria for study participation were met for monozygotic twins with an MS diagnosis … Monozygotic twin pairs with clinical discordance for MS … For inclusion in the present analysis, CSF samples had to be available of either both co-twins or the clinically healthy co-twin only, resulting

[2020-11-16 18:27] paolaroncaglia commented on #65
@rachadele
cc @dosumis
I started a [discussion in the Uberon tracker](https://github.com/obophenotype/uberon/issues/1670) to figure out if this request (and 2 more from Rachel) are in scope for Uberon. If not, I'll add the terms in EFO. Thanks.

[2020-11-16 18:29] paolaroncaglia commented on #66
See https://github.com/obophenotype/uberon/issues/1670

[2020-11-16 18:30] paolaroncaglia commented on #67
See https://github.com/obophenotype/uberon/issues/1670

[2020-11-16 18:45] rachadele commented on #65
amazing, thank you!

[2020-11-19 20:41] pnejad commented on #62
Thank you @paolaroncaglia

[2020-11-20 00:33] rachadele opened #69 "new term request - cytokine secretion assay"
For new term requests, please provide the following information:

## Preferred term label

cytokine secretion assay

## Synonyms

pan-cytokeratin staining

## Textual definition

Assay measuring the types and amounts of cytokines that are released as the consequence of a signaling event. Cytokines can be quantitated using ELISA-based kits, PCR array, etc.

## Suggested parent term

Cue signal resp

[2020-11-20 17:23] paolaroncaglia commented on #69
Hi @rachadele ,

This will be an EFO term, so I opened a ticket in the EFO tracker and assigned it to myself: https://github.com/EBISPOT/efo/issues/893

Closing this one now. Thanks,

Paola

[2020-11-25 21:41] paolaroncaglia commented on #63
Hi @ami-day ,
Sorry for the delay. I'm meeting my colleagues tomorrow to discuss the HCAO pipeline (including this ticket), so if a new release isn't done tomorrow, I will at least be able to give you a date.
Thanks,
Paola

[2020-11-26 09:55] paolaroncaglia commented on #55
Hi @mshadbolt ,

I'm reviewing tickets in this tracker, in view of my meeting with David and Zoë this afternoon. Please let me know if there's any update on this request, and/or if you have any comments on my suggestion [here](https://github.com/HumanCellAtlas/ontology/issues/55#issuecomment-722480152). If you'd prefer to discuss in person, we could add to the agenda for our next monthly curators

[2020-11-26 10:41] paolaroncaglia commented on #68
@rachadele
The term you need was created very recently in Uberon, but won't be available in OLS (or for the HCA pipeline) until the next Uberon release. The term is UBERON:0038849 'craniocervical lymph node' (note for self: https://github.com/obophenotype/uberon/commit/a3b41da7dacd642c2d616652b8912a1175a37009).
Action items for me:
- [ ] Enquire re date of next Uberon release
- [ ] Then include te

[2020-11-26 16:18] ami-day commented on #63
Hi @paolaroncaglia Thanks sounds good. I think there are a couple of other new terms @rays22 was thinking of requesting, and maybe also @ESapenaVentura or @mshadbolt... Just thought I'd mention here in case it's easier to communicate about adding new terms in the new release in 1 place

[2020-11-26 17:15] paolaroncaglia commented on #63
@ami-day
A new HCAO release is tentatively planned for Thursday Dec 3rd. If you or any of your colleagues would like to request terms that already exist in Uberon or CL to be imported into HCAO, please open new tickets in the HCAO tracker by Wednesday Dec 2nd, and I'll address them. (Terms that don't exist in Uberon or CL and need creating de novo may also be requested, but they wouldn't be availa

[2020-11-26 17:40] paolaroncaglia commented on #59
@mshadbolt
FYI: Zoe and David edited the HCAO pipeline and 'pulmonary ionocyte' should now be included in HCAO, but you'll need to wait until the next HCAO release, which is scheduled for next Thursday Dec 3rd. I'll leave this ticket open so we don't forget to check. Thanks.

[2020-11-26 17:44] paolaroncaglia commented on #54
@mshadbolt
Similarly to #59 , Zoe and David addressed the addition of FMA terms in this ticket, and all should be well. Keeping this ticket open so we can check after the next HCAO release scheduled for late next week. Thanks.

[2020-11-26 17:47] paolaroncaglia commented on #52
Update: Zoe and David modified the HCAO pipeline to overcome issues like this one. Zoe and I will meet late-next week and will see that UBERON:8000004 central retina gets imported in the HCAO release scheduled for then.

[2020-11-26 17:56] paolaroncaglia commented on #46
Hi @pnejad ,
Could you please provide details of the GEO dataset you requested this term for?
If there's a publication associated with it, it'll be useful as I suspect that the "cortical nephrogenic zone" you refer to is indeed the same as http://purl.obolibrary.org/obo/UBERON_0009871 'nephrogenic zone'. In fact, that is defined as the outer portion of the renal _cortex_, and I suspect that the "c

[2020-11-30 18:52] pnejad commented on #46
@paolaroncaglia This ticket was made for GSE102596.

https://pubmed.ncbi.nlm.nih.gov/29449449/
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE102596

[2020-12-01 17:42] rachadele commented on #68
thanks!

[2020-12-03 12:00] ami-day commented on #63
Hi @paolaroncaglia thanks for this info. Is the HCAO release still going ahead today? it would be good to confirm when I can add the new term to my metadata and upload it for validation.

[2020-12-03 15:46] #60 closed

[2020-12-03 15:46] #61 closed

[2020-12-03 17:16] paolaroncaglia commented on #54
@mshadbolt
All terms in this ticket are now in the HCA release. They'll be in public OLS in a day or so. Thanks.

[2020-12-03 17:16] #54 closed

[2020-12-03 17:18] paolaroncaglia commented on #52
@zperova
The term UBERON:8000004 central retina is now in the HCAO release. It will be visible in public OLS in a day or so. Thanks,
Paola

[2020-12-03 17:18] #52 closed

[2020-12-03 17:19] paolaroncaglia commented on #63
@ami-day
The term UBERON_0007106 chorionic villus is now in the HCAO release, and will be in public OLS in a day or so. Thanks.

[2020-12-03 17:19] #63 closed

[2020-12-03 17:21] paolaroncaglia commented on #59
@mshadbolt
I confirm that 'pulmonary ionocyte' is now in the HCAO release. It'll be visible in public OLS in about a day. Thanks.

[2020-12-03 17:21] #59 closed

[2020-12-03 17:28] #69 closed

[2020-12-03 17:32] paolaroncaglia commented on #49
Hi @pnejad ,

I suspect that the submitter was an intern in your group previously? The term CL:0001024 'CD34-positive, CD38-negative hematopoietic stem cell' is already in HCAO, so I'll close this ticket. If a different term was needed instead (no ID for the GEO dataset was provided, so I can't double-check), please open a new ticket. Thanks!

Paola

[2020-12-03 17:32] #49 closed

[2020-12-03 17:33] #62 closed

[2020-12-03 17:39] paolaroncaglia commented on #55
Hi @mshadbolt ,

Following up on my previous comment. If this discussion is still active/needed, I suspect that it may be more easily carried out in person, so feel free to add to the agenda for our next monthly curators meeting (Dec 9th). If the issue has been addressed or the discussion is no longer active, I guess the ticket may be closed. Meanwhile, I'll move it to the "Backlog" queue. Thanks!

[2020-12-03 19:35] pnejad commented on #49
Thank you @paolaroncaglia

[2020-12-04 17:29] paolaroncaglia commented on #46
@pnejad
I opened a [CL ticket](https://github.com/obophenotype/cell-ontology/issues/824) to create the new term for cortical nephrogenic zone cell (note that the primary label will be 'nephrogenic zone cell', but "cortical nephrogenic zone cell" will stay as an exact synonym). I also opened a [Uberon ticket](https://github.com/obophenotype/uberon/issues/1692) to add "cortical nephrogenic zone" and

[2020-12-04 17:29] #46 closed

[2020-12-04 17:42] paolaroncaglia commented on #65
@rachadele
FYI I'm closing this ticket (and #66 and #67 ) as duplicates of https://github.com/obophenotype/uberon/issues/1670.

[2020-12-04 17:42] #65 closed

[2020-12-04 17:44] #66 closed

[2020-12-04 17:45] #67 closed

[2020-12-10 22:53] pnejad commented on #62
Needs a new collection method ontology

micropuncture fluid collection | MMO:0000637
-- | --

[2020-12-16 14:40] paolaroncaglia opened #70 "[ENQ] Mouse strains and developmental stage"
From @pnejad (via Slack):

"One of the GEO datasets we are wrangling (GSE75659) has mouse samples with mixed strains. The paper tells us the strain for both mother and father, but I can’t find the appropriate ontology in EFO. Do you have any suggestions for what we can use for the strain ontology?

CAST/EiJ (mother) x C57BL/6J (father)
C57BL/6J (mother) x CAST/EiJ (father)
C57BL/6J (mother) x CAST

[2020-12-17 15:14] paolaroncaglia opened #71 "Modify HCAO build pipeline to include "added_for_HCA" tags"
As agreed with @dosumis , @zoependlington and Human Cell Atlas curators, I'm adding subset tags labelled "added_for_HCA" to CL, Uberon and EFO. We'll use these to ensure that all terms created for HCA are automatically retrieved when building HCAO. When the tags are all in (i.e. when https://github.com/obophenotype/cell-ontology/issues/826, https://github.com/obophenotype/uberon/issues/1700 and ht

[2020-12-17 16:36] paolaroncaglia commented on #70
@pnejad
For the mouse samples above, I will create 2 new terms in EFO, see https://github.com/EBISPOT/efo/issues/921.

[2020-12-17 16:53] paolaroncaglia commented on #70
@pnejad
In response to your question
"For this same dataset I need to find an EFO ontology for developmental stage = mouse adult stage. I’m unsure what to use here as well."
I suggest EFO:0001272 'adult' (subclass of EFO:0000399 'developmental stage'). The organism (mouse) will be captured separately by NCBITaxon I presume.
I'll close this ticket unless you have any concern. Thanks.

[2020-12-17 16:57] paolaroncaglia commented on #70
@pnejad
But if you have any other question about that same GEO dataset, feel free to add it in this ticket!

[2020-12-17 17:21] pnejad commented on #70
Thank you @paolaroncaglia

For this dataset we also need to cell type ontologies:

- selected_cell_type = brain cell
- selected_cell_type = liver cell

The specimen came from E15 mouse embryos and there was no further enrichment to tell us what type of brain or liver cell. Are there CL ontologies we could use here?

[2020-12-17 18:17] paolaroncaglia commented on #70
@pnejad
(tagging @dosumis for feedback)
I believe there are no existing terms that you could use. We could create

CL:NEW1 'embryonic brain cell'
equivalent to CL:0002321 'embryonic cell' and part of some UBERON:6001060 'embryonic brain'

and

CL:NEW2 'embryonic liver cell'
equivalent to CL:0002321 'embryonic cell' and part of some UBERON:0003894 'liver primordium'

and tag them both as subsets "l

[2020-12-29 18:21] pnejad opened #72 "Add new cell type term"
For new term requests, please provide the following information:

## Preferred term label

fetal hepatobiliary hybrid progenitor cell

## Textual definition

Here, we report the transcriptional signature of distinct hepatic cell types in fetal and adult human liver, including a fetal hepatobiliary hybrid progenitor (HHyP) population. Exclusively within the CD235a−/CD45−/EpCAM+/NCAM+ population of

[2021-01-04 21:16] pnejad opened #73 "Help mapping cell types to correct CL ontologies"
We are wrangling [GSE89322](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE89322) and need to map their cell types to CL ontologies. Could you please help us map to the correct ontology?

**classic dendritic cell (cDCs)**
- is conventional dendritic cell (CL:0000990) appropriate to use here?

**precursor dendritic cell (pre-DCs)**
- is pre-conventional dendritic cell (CL:0002010) appropriat

[2021-01-04 21:40] pnejad opened #74 "Add 'peripheral blood' to uberon"
## Preferred term label

peripheral blood

## Textual definition

Peripheral blood is the fluid that travels through your heart, arteries, capillaries, and veins. Its most important function is to transport oxygen and other nutrients to your body’s cells and tissues and to remove carbon dioxide and other waste products from the body.

Definition copied from this [site](https://sterlingpath.com/hem

[2021-01-07 15:16] paolaroncaglia commented on #72
Hi @pnejad ,

I "moved" this request to the Cell Ontology tracker, https://github.com/obophenotype/cell-ontology/issues/840
So I'll close this HCAO ticket now. Thanks.

[2021-01-07 15:16] #72 closed

[2021-01-07 15:52] paolaroncaglia commented on #74
Hi @pnejad ,

Based on this bit from the paper associated to GSE89322 (PMID: 31253076, start of Methods section)
"Human peripheral blood samples were purchased from New York Blood Center (New York) and processed 24-48 h post-collection. Fresh mononuclear cells were isolated from cord blood or peripheral blood by density centrifugation..."
I believe that the most appropriate terms for you to use wo

[2021-01-07 16:47] paolaroncaglia commented on #73
Hi @pnejad ,

conventional dendritic cell (CL:0000990) is defined as “Conventional dendritic cell is a dendritic cell that is CD11c-high.”. Does this fit with the paper?
Also from this other paper PMID: 23516985, if it helps:
“Classical Dendritic Cells
cDCs refer to all DCs other than pDCs [Plasmacytoid Dendritic Cells]. cDCs form a small subset of tissue hematopoietic cells that populate most lym

[2021-01-13 15:46] dosumis commented on #70
I agree.  There's no need to add completely generic cellXlocation terms to CL.  Suspect this is to fill a slot in curation.

[2021-01-13 15:48] dosumis commented on #55
Zoe's call - but I think it makes sense to add EFO terms that subclass OBI.

[2021-01-13 16:34] paolaroncaglia commented on #70
Resolution from today's curators call: no need for new CL classes.

[2021-01-13 16:52] mshadbolt commented on #55
Hi @paolaroncaglia sorry for not replying to this sooner.

I think an ROBOT template would be great to be able to add the terms we need to EFO.

I should point out it isn't a huge priority for us right now so if you want to de-prioritise and I will come back and enquire again when we are making updates to the schema we could do that too.

[2021-01-13 18:10] paolaroncaglia commented on #55
Update from today's curators call: @zoependlington agrees that it'd make sense to add EFO terms to describe storage/preservation methods (in terms of sample descriptions) as I suggested above. Summary plan (thanks @mshadbolt for confirming that it's not a huge priority):

- [ ] Paola to go back to the list in https://github.com/HumanCellAtlas/ontology/issues/55#issuecomment-722423929 and either a)

[2021-01-13 18:12] paolaroncaglia commented on #70
@pnejad
I'll close this ticket as I think we addressed all requests and questions, but if there's more, please feel free to open a new ticket. Thanks!

[2021-01-13 18:12] #70 closed

[2021-01-15 20:18] pnejad commented on #73
@paolaroncaglia  Thank you for your feedback! I think I will use conventional dendritic for this dataset. The paper refers to conventional and classical dendritic cells as cDC's, which makes me believe they are the same.

[2021-01-15 21:13] paolaroncaglia commented on #73
@pnejad
Thanks. I'll close this ticket then.

[2021-01-15 21:13] #73 closed

[2021-01-21 11:48] paolaroncaglia commented on #74
@pnejad
I'll close this ticket, but if you have any concern, please feel free to comment/reopen. Thanks.

[2021-01-21 11:48] #74 closed

[2021-01-21 11:52] paolaroncaglia commented on #12
@dosumis
Should this be implemented? If yes, who should this ticket be assigned to, please? Thanks.

[2021-01-21 11:55] paolaroncaglia commented on #11
@dosumis
Should this epic (and related tickets) be moved to a different HCA GitHub tracker? Thanks.

[2021-01-21 12:08] paolaroncaglia commented on #71
Update/note for self:
As of today Jan 21st, the subset tag "added_for_HCA" has been

- added to CL (release was last night so not sure it's available already)
- added to Uberon (not released yet)
- added to EFO (already released).

@zoependlington (cc @dosumis ) shall we start to modify the HCAO build pipeline to pull in terms with the tag, or should we wait until teh tag is available in all 3 ont

[2021-02-01 13:08] ami-day opened #75 "lumbar puncture (collection protocol)"
## Preferred term label

lumbar puncture

## Synonyms

spinal tap

## Textual definition

A method to collect cerebrospinal fluid (CSF) from a human donor, using a needle.

## Suggested parent term

collecting specimen from organism (http://purl.obolibrary.org/obo/OBI_0600005)

## Use case

human cell atlas collection protocol method

## Attribution

[2021-02-01 13:43] paolaroncaglia commented on #75
Note for self:
- [ ] xref NCIT:C15327 Lumbar Puncture

[2021-02-01 17:37] paolaroncaglia commented on #75
Hi @ami-day ,
I moved this to an EFO ticket, so I'll close this issue as a duplicate. I have tagged you in the EFO ticket, so you'll receive a notification when the term is available. Thanks.
Paola

[2021-02-01 17:37] #75 closed

[2021-02-03 14:26] ami-day opened #76 "new term request - barcoded plate-based single cell RNA-seq"
## Preferred term label

barcoded plate-based single cell RNA-seq

## Synonyms

## Textual definition

A single-cell RNA sequencing library construction method that generates barcodes libraries and is plate-based. An example would be a plate-based method that is not Smart-seq2 or a modified, barcoded version of Smart-seq2.

## Suggested parent term

single-cell library construction
https://www.ebi

[2021-02-03 14:26] ami-day commented on #76
Hi @paolaroncaglia we would like to request a new library construction method ontology term. Is this still the correct place to enter our HCA ontology requests? Many thanks!

[2021-02-03 15:58] paolaroncaglia commented on #76
Hi @ami-day ,
This particular term is in scope for EFO, so I'll make a ticket there.
For requests for new cell type or anatomy terms, @mshadbolt drafted a decision-tree document but I don't have the link handy, sorry.
In general though, I think that @zoependlington was planning to investigate if we should move all HCA ontology requests to another tracker. I'm not sure if she has any update. For no

[2021-02-03 16:05] paolaroncaglia commented on #76
Note for self: this term request was moved to https://github.com/EBISPOT/efo/issues/958, so this HCAO ticket may be closed when the points in my previous comment are addressed.

[2021-02-15 14:35] #76 closed

[2021-02-18 15:29] dosumis commented on #2
No longer relevant

[2021-02-18 15:29] #2 closed

[2021-02-18 15:29] dosumis commented on #56
Postponed until HCA switches to using new containerised build OLS

[2021-02-18 15:30] dosumis commented on #57
Postponed until HCA switches to using new containerised build OLS

[2021-02-18 15:30] dosumis commented on #12
Postponed until HCA switches to using new containerised build OLS

[2021-02-18 15:31] #5 closed

[2021-02-18 15:32] dosumis commented on #4
@mshadbolt  - is this still relevant?  We have developmental relationships in CL & could make sure these are displayed.

[2021-02-18 15:33] dosumis commented on #3
No longer relevant

[2021-02-18 15:33] #3 closed

[2021-02-18 16:50] paolaroncaglia commented on #68
@rachadele
The term UBERON:0038849 'craniocervical lymph node' is now in HCAO (not in public OLS yet, as HCAO was just released).
I'll close this ticket. Thanks,
Paola

[2021-02-18 16:50] #68 closed

[2021-02-22 03:34] mshadbolt commented on #4
I don't really know what this is about, was created before I started at HCA, I would imagine by now we could just close it and start a new ticket if we want to address it again.

[2021-02-22 08:18] #4 closed

[2021-02-23 09:36] mshadbolt opened #77 "[ENQ] Import Data Use Ontology DUO into HCAO"
Hi both

We would like to start using the DUO ontology to show how data in the HCA DCP can be used or what limitations/restrictions exist on its use. Therefore we would need to add DUO to the HCAO. Is this something that is possible?

Let me know if there is any more information you would need from us to start work on this.

Thanks in advance!

This relates to an update we want to make to our proj

[2021-02-23 15:30] paolaroncaglia commented on #77
@mshadbolt
I presume that importing DUO into HCAO should be possible and hopefully relatively straightforward (see https://github.com/HumanCellAtlas/ontology/blob/master/src/ontology/get_mirrors.sh), but I'll need help from @zoependlington to implement. (DUO contains less than 300 terms, so I assume we'll import it all rather than a slim.) I'll contact her offline.

[2021-02-24 01:09] mshadbolt commented on #77
ok great, thanks!

[2021-02-24 14:35] paolaroncaglia commented on #77
@mshadbolt
We'll try to implement the DUO import in time for the next HCAO release if possible (March 18th). Thanks.

[2021-02-25 00:56] mshadbolt commented on #77
That would be great thanks!

[2021-03-04 11:38] paolaroncaglia commented on #55
@mshadbolt
I reviewed the HCA enums in https://github.com/HumanCellAtlas/ontology/issues/55#issuecomment-722423929 and I drafted a [spreadsheet](https://docs.google.com/spreadsheets/d/1Wnok_nXEOXLjoGUu4lfeSMFZ5n1rysWu5Z1djrQaYBA/edit#gid=0) to map them to existing terms or to suggested new terms. Could you please take a look and let me know if you have any concern? Thanks.

[2021-03-10 16:26] dosumis commented on #55
@rays22 to review.

[2021-03-15 23:28] mshadbolt commented on #77
Hi @paolaroncaglia I just wanted to check in on this and whether it will be in the release this week as we are preparing to add a change to our schema that will rely on being able to use these so wanted to make sure of that before we make the change. Thanks!

[2021-03-16 09:21] zoependlington commented on #77
@mshadbolt The DUO import will be in HCAO for the 18th March release.

[2021-03-16 10:55] paolaroncaglia commented on #71
Update:
@zoependlington added the subset added_for_hca pipeline to the Makefile, so I'll close this ticket.

[2021-03-16 10:55] #71 closed

[2021-03-16 10:57] paolaroncaglia commented on #77
@zoependlington

Thanks! I'll close this ticket.

[2021-03-16 10:57] #77 closed

[2021-03-16 16:20] paolaroncaglia commented on #55
Hi @rays22 (cc @mshadbolt ),
Just a heads up that if you'd like those preservation/storage terms to be available in HCAO, they'll need to be created (and released) in EFO first. The next EFO release is scheduled for April 15th, and I'll need some advance warning to make sure that all terms are added in time. When you have a chance, could you please review my spreadsheet here https://docs.google.co

[2021-03-16 16:37] paolaroncaglia commented on #55
Hi @dosumis ,

Some of those FBBI terms are not defined, but I'll add the following mappings unless you have any concern:

1. HCA 'cut slide' = FBbi:00000026 'sectioned tissue'
2. HCA 'paraffin block' = FBbi:00000020 'tissue in paraffin embedment'
3. HCA 'cryopreservation, other' = FBbi:00000013 'cryofixed tissue'
4. HCA 'formalin fixed, unbuffered', 'formalin fixed, buffered' and 'formalin fixed

[2021-03-18 00:11] mshadbolt opened #78 "[ENQ] UBERON:0007795 not in HCAO"
One of our wranglers @willrockout is trying to use the term `UBERON:0007795` in our metadata but even though it exists in the EBI [OLS version of UBERON](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0007795) it can't be found in the [HCA OLS ](https://ontology.archive.data.humancellatlas.org/search?q=UBERON%3A0007795).

Is this because it is

[2021-03-18 17:35] paolaroncaglia commented on #78
Hi @mshadbolt and @willrockout ,

Not all UBERON terms are automatically imported into HCAO. The current makefile is designed to import UBERON terms that a) have a cross-reference to an FMA term, or b) are manually added to a list of terms to be imported, or c) are tagged with the new subset property "added_for_HCA" (this last is used when I create a term in Uberon, CL or EFO that was requested by

[2021-03-18 17:48] willrockout commented on #78
Hi @paolaroncaglia,

Thank you for getting back to us so quickly if we can get @zoependlington to do a patch change that would be very much appreciated. Do you know the rough timeframe for that change to go into effect?

Thanks,
Will

[2021-03-18 18:05] paolaroncaglia commented on #78
Hi @willrockout ,

Thanks for letting me know. I'll check with @zoependlington tomorrow and will let you know.

Best wishes,
Paola

[2021-03-19 04:55] mshadbolt commented on #78
hi again, I thought I would hijack this thread for my own purposes now, what are the rules around CL imports? Trying to work out why `T follicular helper cell` https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0002038 isn't in our ontology either.

[2021-03-19 09:58] paolaroncaglia commented on #78
Hi @willrockout and @mshadbolt ,

The CL import into HCAO works similarly to Uberon given the current makefile. Not all CL terms are imported into HCAO; only CL terms that have an FMA cross-reference get imported automatically, and those that don’t have FMA x-refs don’t get picked up and need to be added manually or with the added_for_HCA tag.
T follicular helper cell doesn't have an FMA xref. I s

[2021-03-22 01:34] mshadbolt commented on #78
Ok thanks @paolaroncaglia

It seems like we need a better way to automatically determine what terms get imported into HCAO as it isn't really meeting our needs at the moment and the lead time to request imports and then wait for release will slow down our submission processes.

Would there be any harm in importing the entire CL ontology? Or will it bloat the HCAO too much?

@willrockout are you aw

[2021-03-22 16:58] paolaroncaglia commented on #78
@mshadbolt
Zoe and I reviewed and discussed the options that we think are available to you for CL (and possibly Uberon) terms. Unfortunately I have another meeting now, so I'll have to get back to you tomorrow with more details; but rest assured, we're giving this thoughtful consideration, and are confident that at least one of the options we'll suggest will meet your needs.
Best,
Paola

[2021-03-23 16:35] paolaroncaglia commented on #78
@mshadbolt
(cc @dosumis for his information)

Here's a summary of my discussion with @zoependlington .

Zoe is drafting a document that illustrates the current HCA pipeline and explains what terms currently do or don't get imported in HCAO. Same as what we explained in comments above, but inclusive of all imports and could be made available to all HCA wranglers once completed.

Importing the whole

[2021-03-23 17:23] pnejad commented on #78
@paolaroncaglia @zoependlington

Could you also push CL:0002410 (pancreatic stellate cell) to HCAO?

[2021-03-23 17:55] paolaroncaglia commented on #78
@pnejad
Sure, I made a note in our (Zoe's and mine) agenda for the next HCAO release, currently scheduled for April 19th (i.e. 2 working days after the EFO release, to bring in any requested new EFO term).

[2021-03-25 17:38] pnejad commented on #78
Thank you @paolaroncaglia!

I have another one we need for HCAO (CL:0005006 - ionocyte). Should I keep adding them to this ticket?

[2021-03-26 09:27] paolaroncaglia commented on #78
Hi @pnejad ,

Yes that's fine, you can add terms that need importing to this ticket. I already made a note for CL:0005006 - ionocyte, same as above. Best,

Paola

[2021-03-26 09:42] dosumis commented on #78
I like that idea.

[2021-03-26 09:45] paolaroncaglia commented on #78
Thanks again to @zoependlington who brought it up first :-)

[2021-03-27 23:29] mshadbolt commented on #78
I don't really see how that would work.

We validate against the HCAO (https://ontology.archive.data.humancellatlas.org/index), so as far as our validation script is concerned, no ontology terms exist outside of it. The JSON validator It is also a generic tool that is used by others as well, so we don't really have control over when it throws warnings rather than validation errors.

The other opti

[2021-03-28 09:34] dosumis commented on #78
I think it's worth having a meeting to look in to your OLS build (likely needs updating) and the validations that work from it.  These things are easily configured. Maybe some time in early May?

[2021-03-30 08:49] paolaroncaglia commented on #78
Hi @mshadbolt ,

@dosumis , @zoependlington  and I discussed a few options. Here’s a summary with action items:

- [ ] In the short term: import all of CL into HCAO for the April 19th HCAO release.
Zoe will try to assess before the release if the size of CL will cause issues.
I will try to compile a list of CL terms that don’t apply to mammals/humans, so that if the size of the entire CL causes is

[2021-04-01 21:27] pnejad opened #79 "[ENQ] What would be the correct ontology to use for mouse strain = NIH/Swiss?"
Our [dataset](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE117089) used NIH/3T3 cells that came from an NIH/Swiss strain embryo. What would be the correct EFO ontology to use here?
https://www.atcc.org/products/all/crl-1658.aspx

[2021-04-06 08:18] paolaroncaglia commented on #79
Hi @pnejad,

The right term to use would be [EFO:0001222 NIH3T3](http://www.ebi.ac.uk/efo/EFO_0001222). It refers the same ATCC entry that you listed, but I’m guessing you couldn’t find it in EFO because of the different wording (NIH3T3 instead of NIH/3T3).

@zoependlington
@dosumis
it seems that cell lines (i.e. descendants of CL:0000010 ’cultured cell’) are not imported in HCAO? They surely don’

[2021-04-08 17:12] pnejad commented on #79
@paolaroncaglia Thank you for the detailed explanation!

[2021-04-09 16:33] pnejad commented on #78
@paolaroncaglia Could you please add lupus erythematosus (MONDO:0004670) to HCAO?

[2021-04-12 13:51] paolaroncaglia commented on #78
Hi @pnejad ,

My understanding is that HCA looks up the entire Mondo ontology. In fact, using the link I have for the [HCAO OLS production instance](https://ontology.archive.data.humancellatlas.org/index), I can find lupus erythematosus (MONDO:0004670) as expected. Please let me know if I'm missing something, but I thought that all Mondo terms were available to you?

Thanks,
Paola

[2021-04-12 19:42] rays22 commented on #55
It appears to me that some of the categories overlap. It is not always clear to me if we need separate terms for preservation and storage. [ metadata-schema/json_schema/module/biomaterial/preservation_storage.json "description": "Information relating to how a biomaterial was preserved and/or stored over a period of time."](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/m

[2021-04-14 08:50] paolaroncaglia commented on #55
Thanks @rays22 . In answer to your question "It is not always clear to me if we need separate terms for preservation and storage", to clarify, the labels and parents I suggest are in columns B and E respectively. I've "rephrased" all terms with a focus on the sample (specimen) description, rather than the preservation/storage method that the sample is subjected to.
So the descriptions you list abo

[2021-04-14 15:10] paolaroncaglia commented on #55
Update: at curators mtg today, Ray mentioned that those terms are not urgent for HCA and would require changing their metadata schema. SCA do not get that type of info often. I'll move to Backlog.

[2021-04-15 14:32] paolaroncaglia commented on #78
Ticket summary/notes for self: after next HCAO release,
- [ ] Let Will, Marion, Paris know that the following terms they asked for have now been imported in HCAO:
UBERON:0007795 ascitic fluid
CL:0002038 T follicular helper cell
CL:0002410 pancreatic stellate cell
CL:0005006 ionocyte
[note, all of CL should be in HCAO with the new release, with the exception of some terms that clearly don’t apply t

[2021-04-19 15:22] paolaroncaglia commented on #78
Hi @mshadbolt , @willrockout and @pnejad ,

FYI, @zoependlington made a new release of the HCA ontology today. It will be available in the [HCA OLS production instance](https://ontology.archive.data.humancellatlas.org/index) when [this ticket](https://github.com/ebi-ait/hca-ebi-dev-team/issues/409) is addressed. The terms that you requested in this ticket will be visible there then:
UBERON:0007795

[2021-04-19 15:44] paolaroncaglia commented on #79
Hi @pnejad ,

For your request to annotate NIH/3T3 cells, @zoependlington imported CLO:0008172 (NIH-3T3 cell) into HCAO today. It will be visible in the [HCA OLS production instance](https://ontology.archive.data.humancellatlas.org/index) as soon as [this ticket](https://github.com/ebi-ait/hca-ebi-dev-team/issues/409) is addressed.

Going forward, if/when you need more cell line terms, ideally we'

[2021-04-19 15:44] #79 closed

[2021-04-19 15:54] paolaroncaglia opened #80 "Import human-centric slimmed versions of CL and Uberon into HCAO"
This is a placeholder to be reminded of those tasks, which are dependent on work to be carried out in other ontologies (see e.g. https://github.com/obophenotype/uberon/issues/1824).

[2021-04-19 16:23] #78 closed

[2021-04-20 01:17] mshadbolt commented on #78
Thanks for all your hard work on this @paolaroncaglia and @zoependlington !

[2021-04-20 20:29] pnejad commented on #64
@paolaroncaglia  Hydrolysis is not being recognized by HCAO, is this something that will be resolved after the developers release the new version of HCAO?

[2021-04-21 08:41] paolaroncaglia commented on #64
Hi @pnejad ,

The term EFO_0010892 'hydrolisis collection protocol' is in the HCA OLS production instance, see [here](https://ontology.archive.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0010892) please. A typo sneaked in (hydrolisis for hydrolysis) for which I apologize; possibly that's why you couldn't find the term? I noticed the typo yesterday and it

[2021-04-21 17:14] pnejad commented on #64
Hi @paolaroncaglia, we tested the submission of our dataset with the incorrect spelling to see if there are any issues with EFO_0010892, and ingest is still giving us an error.

[2021-04-22 14:09] paolaroncaglia commented on #64
Hi @pnejad ,

Is the ingest still failing with the new release that @zoependlington just made today, see https://github.com/ebi-ait/hca-ebi-dev-team/issues/409? If yes, could you please provide more details, e.g. error log?

Thank you, I'm not sure what the problem is but we'll address it as promptly as we can.

Paola

[2021-04-27 15:33] paolaroncaglia opened #81 "[ITR] Microscopy ontology branch"
This is a placeholder, following a Slack conversation with Laura Clarke:
"when we start capturing imaging data we are going to need microscopy ontologies, if the current microscopy ontologies specified by the schema are still the right ones to use is a different question".
I believe that the current schema is pointing to FBbi:00000241 'microscopy', which isn't in HCAO at the moment.
- [ ] Evaluate

[2021-04-28 15:54] pnejad opened #82 "[NTR] Please add sci-CAR ATAC-seq and sci-CAR RNA-seq to EFO/HCAO"
## Preferred term label

sci-CAR ATAC-seq & sci-CAR RNA-seq

## Textual definition

Description from the [paper](https://science.sciencemag.org/content/361/6409/1380):

Single-cell combinatorial indexing (sci) methods use split-pool barcoding to uniquely label the nucleic acid contents of single cells or nuclei (7–13). Here we describe sci-CAR, which jointly profiles single-cell chromatin accessib

[2021-04-28 16:31] paolaroncaglia commented on #82
Thanks @pnejad .
I moved this request to an EFO ticket (https://github.com/EBISPOT/efo/issues/1079), so I'll close this as duplicate.
Best,
Paola

[2021-04-28 16:32] #82 closed

[2021-04-30 12:07] ami-day opened #83 "[NTR] Microwell-Seq"
## Preferred term label

Microwell-Seq

## Synonyms

Microwell-seq
microwell-seq

## Textual definition

Microwell-Seq is a convenient, low-cost, and robust platform for High-Throughput single-cell RNA-Sequencing.

Microwell-Seq workflow: an agarose plate with microwells is used to trap 5-10K individual cells. Barcoded magnetic beads are loaded and trapped into each well. Each single bead is conju

[2021-05-03 14:27] paolaroncaglia commented on #83
Hi @ami-day ,
I opened an EFO ticket for this term request, and I tagged you there (https://github.com/EBISPOT/efo/issues/1083), so I'll close this HCAO ticket as duplicate. The EFO term will be created in time for the next EFO release (May 17th), and will be imported in HCAO shortly after (the next HCAO released is currently planned for ~ May 20th).
Thanks,
Paola

[2021-05-03 14:27] #83 closed

[2021-05-13 07:02] paolaroncaglia commented on #64
Note for self: I'm closing this ticket as it was resolved elsewhere (see https://github.com/ebi-ait/hca-ebi-dev-team/issues/409#issuecomment-827672324 and following comments in that ticket).

[2021-05-13 07:02] #64 closed

[2021-05-13 08:12] dosumis opened #84 "Update pipeline to use all of Uberon Euarchontoglires slim"
The current filtering system relying on FMA xrefs is unsustainable & does not work for new terms with no FMA xref.  If the aim of filtering is to remove irrelevant terms, a taxon slim is a much better fit - as these work by excluding terms that are explicitly recorded as being outside the slim, rather than a positive assertion of inclusion.  The current mapping of FMA labels can stay in place.

@m

[2021-05-13 09:18] paolaroncaglia commented on #84
@dosumis
See also the placeholder ticket I had opened previously, https://github.com/HumanCellAtlas/ontology/issues/80. I'd close that ticket as a duplicate, unless we want to keep it to be reminded of generating a CL slim based on the Uberon one. (I could just remove the Uberon bit from #80 .) Thanks.

[2021-05-17 10:50] mshadbolt opened #85 "[ENQ] Chinese characters displaying in OLS?"
Hi

I was just searching in the ols and came across this term which is displaying with chinese characters.

https://ontology.archive.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000468

Not urgent or anything but thought it was a bit odd...

<img width="1174" alt="Screenshot 2021-05-17 at 20 50 09" src="https://user-images.githubusercontent.com

[2021-05-17 12:50] zoependlington commented on #85
I believe this is a known and fixed issue in OLS where, if a term had multiple labels of different language tags it wouldn't automatically pick the english one.

It looks fixed in the public version: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000468

I think once the HCA OLS instance is updated to use the new code base, this will be recti

[2021-05-17 13:10] paolaroncaglia commented on #85
Thanks @zoependlington .
@mshadbolt , I believe that the issue was fixed in https://github.com/EBISPOT/OLS/issues/241.
@henrietteharmse , when you have a chance, could you please confirm , and suggest the best way forward for HCA curators?
Thank you all,
Paola

[2021-05-17 15:39] henrietteharmse commented on #85
Yes @paolaroncaglia, @zoependlington is correct in that this issue has indeed been fixed on OLS. And yes, this is dependent on the HCA server being updated or another server being commissioned.

[2021-05-17 16:31] paolaroncaglia commented on #85
Thanks @henrietteharmse .
I'm not sure if the HCA server issue has been formally reported (yet). If this is not the best tracker, could @mshadbolt or @dosumis open a ticket where appropriate, and close this one? Thanks!

[2021-05-18 01:01] mshadbolt commented on #85
ok thanks for the response, I am not really sure about the progress on updating ols, will close this ticket anyways

[2021-05-18 01:01] #85 closed

[2021-05-21 15:42] paolaroncaglia commented on #80
The updated strategy will be to import a slimmed-down version of CL derived from euarchontoglires-basic.owl (see #84 ), when available.

[2021-06-14 16:03] ANiknejad commented on #70
Hello @pnejad @paolaroncaglia

I put a comment here about the question of Parisa,
"For this same dataset I need to find an EFO ontology for developmental stage = mouse adult stage. I’m unsure what to use here as well."

Actually in the same way there is Hsapdv for human developmental stages, it exists also Mmusdv, the ontology for mouse developmental stages
HumanCellAtlas already makes use of Hsap

[2021-06-16 20:33] pnejad commented on #70
Thank you for the clarification, Anne!

On Mon, Jun 14, 2021 at 6:03 AM Anne Niknejad ***@***.***>
wrote:

--
*Parisa Nejad*, Project Manager
CIRM at UCSC <https://cirm.ucsc.edu/>
UC Santa Cruz Genomics Institute <https://ucscgenomics.soe.ucsc.edu/>
Revealing life’s code.

Google Scholar
<https://scholar.google.com/citations?view_op=search_authors&hl=en&mauthors=UCSC+Genome+Browser>|
Twitter <http

[2021-06-25 20:28] pnejad opened #87 "[ITR] Please add UBERON:0018105 to HCAO"
## Source ontology identifier

UBERON:0018105

## Destination ontology

HCAO

## Preferred term label

perifoveal part of retina

## Synonyms

perifovea

## Textual definition

The outermost region surrounding the fovea centralis

## Suggested parent term

fovea centralis (UBERON:0001786)?

## Use case

Organ_part for a specimen in one of our datasets

## Attribution

[2021-07-01 09:37] paolaroncaglia commented on #87
Hi @pnejad ,

I added UBERON:0018105 'perifoveal part of retina' to the list of terms to be imported at the next HCAO release, scheduled for July 19th. I'll update this ticket when that's done.

Thanks,
Paola

[2021-07-01 16:47] pnejad commented on #87
Thank you, @paolaroncaglia!

[2021-07-19 13:37] paolaroncaglia commented on #87
Hi @pnejad ,
UBERON:0018105 'perifoveal part of retina' has been manually imported into the new HCAO release (see https://github.com/ebi-ait/hca-ebi-dev-team/issues/438). I'll close this ticket. Any issue, please let us know.
Thanks,
Paola

[2021-07-19 13:37] #87 closed

[2021-07-28 08:57] paolaroncaglia commented on #84
Update: the latest Uberon release(s) contain species subsets, so
- [ ] we should look into incorporating the Euarchontoglires slim in the next HCAO release;
- [ ] remember, as agreed, the current mapping of FMA labels can stay in place.

[2021-08-02 19:59] rachadele opened #88 "[ENQ] Ontology for breast milk collection protocol"
From publicaiton
"Milk collection protocols were approved by the Colorado Multiple Institution Review Board (COMIRB #14–1538) and all participants gave their informed consent. Briefly, mothers fasted overnight and while still fasting, collected a small aliquot of milk (<1 oz) at home in the morning, prior to a morning or early afternoon study visit. Samples were not standardized with regard to the

[2021-08-04 16:34] paolaroncaglia commented on #88
Hi @rachadele ,
I assume you need a term in the 'process' branch, rather than in the 'protocol' branch, is that right? If so, I suggest creating a new EFO term as a child of 'planned process', named 'breast milk expression' or similar, and cross-referencing OMIT:0027908 'Breast Milk Expression'. I can add more details but let's clarify the 'protocol' aspect first please. Thank you!
Paola

[2021-08-04 16:52] rachadele commented on #88
No, sorry if I wasn't more clear. I was wondering about the appropriate ontology term to use for 'collection protocol'. Right now we are just using 'biopsy'; does that work or is there a more specific ontology term for liquid collection?

[2021-08-05 14:54] paolaroncaglia commented on #88
Hi @rachadele ,
Thanks. To me 'biopsy' doesn't sound quite right, because it's implicit that someone other than the "sample organism", specifically a medical specialist, performs the biopsy/sample collection. ([Wikipedia](https://en.wikipedia.org/wiki/Biopsy): "A biopsy is a medical test commonly performed by a surgeon, interventional radiologist, or an interventional cardiologist. The process inv

[2021-08-05 17:08] rachadele commented on #88
Hi @paolaroncaglia,
Yes, we would be happy to use a new ontology. Thanks so much for offering to create one! We are fine with submitting this after the ontology is created, as long as it is in time for the next HCA release.

[2021-08-05 17:10] rachadele commented on #88
@willrockout looping you into this

[2021-08-06 14:44] paolaroncaglia commented on #88
Hi @rachadele ,
Unless there are unexpected issues, the new term should be available to you a couple of days before your release. I'll be on leave August 16-24, so I'll outline the plan of action here now, so you know where/when to check:
I've moved the request for the new EFO term to the EFO tracker: https://github.com/EBISPOT/efo/issues/1200. I'll update that ticket when the new EFO ID is availa

[2021-08-06 14:44] #88 closed

[2021-08-06 14:46] paolaroncaglia commented on #88
@rachadele one last question please:

Could you provide the PMID of that publication, please? Thanks.

[2021-08-06 14:49] paolaroncaglia commented on #88
@rachadele I'd also need your ORCID please (not mandatory, but nice to have so the new term can be "attributed" to you). Thanks.

[2021-08-06 16:57] rachadele commented on #88
@paolaroncaglia
PMID: 33216249
ORCID id: https://orcid.org/0000-0002-7431-4139

[2021-08-10 23:44] rachadele opened #89 "[NTR] Nx1-seq"
## Preferred term label

Nx1-seq

## Textual definition

Next generation one-cell sequencing (Nx1-seq)  is a single cell transcriptomic library preparation method which conjugates polystyrene beads to barcode nucleotides by means of emulsion PCR using oligo-dTs. The beads are mixed on a chamber slide containing PDMS microwells which fit one cell per well. The slide is then washed with a cell suspe

[2021-08-12 15:18] paolaroncaglia commented on #89
Hi @rachadele ,
The new term is EFO_0030021 (Nx1-seq).
It will be public with the next EFO release (Aug. 16th).
The HCAO release is then scheduled for Aug. 18th. It will import the new EFO term. Zoë (@zoependlington ) will take care of both the EFO and the HCAO releases. She will then ask the EBI HCA developers to deploy the HCAO release in the HCA OLS instance; I asked Zoë to tag you so you can f

[2021-08-12 15:18] #89 closed

[2021-08-26 09:57] ami-day opened #90 "[ENQ] New HCAO ontology request: "NanoString Digital Spatial Profiling (DSP)""
I would like to request a new library preparation method as a child of the following node:
http://www.ebi.ac.uk/efo/EFO_0030005 "spatial transcriptomics by high-throughput sequencing"

The suggested new ontology term label: "NanoString Digital Spatial Profiling (DSP)"

A link to the technology description:
https://www.nanostring.com/wp-content/uploads/2020/12/MAN-10108-01_GeoMx_DSP_Experimental_De

[2021-08-26 12:49] #90 closed, assigned to paolaroncaglia

[2021-09-13 13:05] paolaroncaglia opened #91 "[ENQ] Terms for “treatment”, “donor”, “replicate” and “batch”"
cc @pnejad

HCA wranglers asked for our opinion on what ontology terms would fit best to represent “treatment”, “donor”, “replicate” and “batch”. The metadata they need to describe is the content of GSE173560_metaData_HR_MtbAggs.txt.gz from https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE173560?, where a summary and overall design are also available. They were initially looking into using ED

[2021-09-13 14:57] pnejad commented on #91
Hi @paolaroncaglia, we need to fill out the "analysis_file.file_core.content_description.ontology" field, which requires the ontology to come from EDAM.

So within EDAM, is there a general ontology that could be used to describe a metadata file with descriptions of treatment, batch, etc.?

[2021-09-13 15:23] paolaroncaglia commented on #91
Hi @pnejad,
Thanks for clarifying. Then I think you may want to look in the 'Data' -> 'Report' branch of EDAM. Here are a few options, from broader to more specific:

data:2048 'Report' ("A human-readable collection of information including annotation on a biological entity or phenomena, computer-generated reports of analysis of primary data (e.g. sequence or structural), and metadata (data about

[2021-09-13 20:26] rachadele commented on #91
@paolaroncaglia We think "sample annotation" would be the best fit!

[2021-09-14 07:12] paolaroncaglia commented on #91
@rachadele @pnejad
Thanks for confirming. The term is already in HCAO, so I'll close this ticket. Have a good day!
Paola

[2021-09-14 07:12] #91 closed

[2021-09-15 09:26] paolaroncaglia commented on #84
Update: we plan to import the human-focused (Euarchontoglires) Uberon slim in the mid-October HCAO release.

[2021-09-15 09:52] matentzn commented on #84
Best assign someone like @dosumis to really sort out this slim with plenty of time. It looks ok, but there are still a few classes that need taxon constraints.

[2021-09-15 09:56] dosumis commented on #84
We will move to this as-is and work on adding taxon constraints to improve in future.  In discussion with HCA earlier this year we agreed to move from a conservative approach, trying to identify Human relevant terms, to a liberal one of trying to exclude non-mammalian terms.   This doesn't need to be perfect and we can work to rapidly improve given increased curator resources.

[2021-09-15 12:43] paolaroncaglia commented on #84
@matentzn @dosumis
yep, no need to be perfect to start with, but I was planning to take a closer look at the slim next week anyway, in case anything glaringly non-human comes up. No deep investigation, just a half-hour or so. Could one of you please remind me what the slim file is named exactly? Is it composite-vertebrate in https://github.com/obophenotype/uberon/releases?
Thanks.

[2021-09-15 13:28] dosumis commented on #84
https://github.com/obophenotype/uberon/blob/v2021-07-27/subsets/euarchontoglires-basic.owl

[2021-09-15 13:29] dosumis commented on #84
I'm sure there will be some glaringly invertebrate terms in there.  Can you list any you find on a ticket?  We should be able to quickly remove them by adding taxon constraints.

[2021-09-15 16:32] paolaroncaglia commented on #84
https://github.com/obophenotype/uberon/issues/2050

[2021-09-17 22:20] rachadele opened #92 "[NTR] B6.SJL-Slc6a3tm1.1(cre)Bkmn/J knock-in mice"
UCSC would like to request a new HCA mouse ontology for the following strain:

[https://www.jax.org/strain/006660](url)

"DATIREScre knock-in mice have Cre recombinase expression directed to dopaminergic neurons, without disrupting endogenous dopamine transporter expression. These mice may be useful for studying gene function in dopaminergic neurons, such as drug addiction, Parkinson's disease and

[2021-09-21 09:56] paolaroncaglia commented on #92
Hi @rachadele ,
Thanks. I moved this request to the EFO tracker and I tagged you there: https://github.com/EBISPOT/efo/issues/1266
I'll close this ticket now.

[2021-09-21 09:56] #92 closed

[2021-10-12 22:40] rachadele opened #93 "[ITR] Import Patch-seq into HCAO"
## Source ontology identifier

EFO:0008853
## Destination ontology

HCAO
## Preferred term label
Patch-seq

## Synonyms

## Textual definition
Combine whole-cell electrophysiological patch-clamp recordings, single-cell RNA-sequencing, and morphological characterization (Patch-Seq)

## Suggested parent term
RNA assay (EFO:0001457)

## Use case
Patch-seq dataset for HCA

## Attribution

[2021-10-13 09:36] #93 closed, assigned to paolaroncaglia

[2021-10-28 02:17] pnejad opened #94 "[ENQ] Please add 'frontotemporal lobar degeneration' and 'sporadic frontotemporal lobar degeneration' to MONDO"
Please add the following two terms to MONDO. We are wrangling GSE174332 for the HCA DCP and need these 2 terms for the disease field. The dataset is associated with this preprint: https://www.biorxiv.org/content/10.1101/2021.07.07.451374v2.full

frontotemporal lobar degeneration: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2916644/#:~:text=Frontotemporal%20lobar%20degeneration%20(FTLD)%20is,front

[2021-11-04 21:19] pnejad commented on #94
Hi @paolaroncaglia  thank you for looking up our options. We can use 'Pick disease' for this dataset. If you are still interested in looking up the paper, the title is: Single-cell profiling of the human primary motor cortex in ALS and FTLD.

DOI: 10.1101/2021.07.07.451374

[2021-11-05 09:34] paolaroncaglia commented on #94
Hi @pnejad ,

Thanks for your feedback. Now that I can access the full-text biorxiv preprint, I can't see any mention of Pick bodies there, so I'm questioning the appropriateness of using 'Pick disease' for the associated dataset. (I had pushed for that because the other reference you provided described Pick disease specifically, which is a subtype of frontotemporal dementia.) In the preprint, whe

[2021-11-05 09:42] paolaroncaglia commented on #94
Attaching screenshot of methods section as preprint takes forever to load

![Screen Shot 2021-11-05 at 10 41 29](https://user-images.githubusercontent.com/4982516/140490811-da749833-f264-4d28-ba62-7c79d87bd1ce.png)

[2021-11-05 10:13] paolaroncaglia commented on #94
Summing up, the 4 patients cohort are characterized by:

1) sporadic ALS, TDP43, MND (motor neuron degeneration); no C9orf72-related pathology => may use [MONDO:0012790](http://purl.obolibrary.org/obo/MONDO_0012790)

2) ALS, TDP43, MND, C9orf72 => may use [MONDO:0007105](http://purl.obolibrary.org/obo/MONDO_0007105)

3) sporadic FTLD, TDP43; no MND, no C9orf72 => may use [MONDO:0011842](http://pur

[2021-11-05 15:57] pnejad commented on #94
Looks good to me! Thank you @paolaroncaglia

[2021-11-05 16:06] paolaroncaglia commented on #94
@pnejad You're welcome. I'll close this ticket now.

[2021-11-05 16:06] #94 closed

[2021-11-05 21:58] rachadele opened #95 "[ITR] Nuclear RNA extract"
## Source ontology identifier
OBI:0000862

## Destination ontology
HCAO

## Preferred term label
nuclear RNA extract

## Textual definition

A RNA extract that is the output of an extraction process in which RNA molecules found in the nucleus, including mRNA precursors (pre-mRNA), are extracted.

## Suggested parent term

RNA extract

## Use case

Used for input nucleic acid molecule in HCA librar

[2021-11-08 17:34] paolaroncaglia commented on #95
Hi @rachadele ,
What branch of the HCA ontology would you need the term to be in, please? Asking because the parent you suggest isn't in HCAO. There are RNA terms under 'biological macromolecule', but I'm not sure if that branch is compatible with the HCA library preparation schema. I'm attaching a screenshot. Thanks.

![Screen Shot 2021-11-08 at 18 31 24](https://user-images.githubusercontent.com

[2021-11-08 20:29] rachadele commented on #95
I think it should go under "RNA". Sorry for the confusion!

[2021-11-09 09:18] paolaroncaglia commented on #95
@rachadele
Thanks, I'll create an EFO term for this, so I've moved the task to an [EFO ticket](https://github.com/EBISPOT/efo/issues/1341) and I'll close this one.

[2021-11-09 09:18] #95 closed

[2021-11-12 14:31] idazucchi opened #96 "[ITR] Liver fibrosis"
## Source ontology identifier
HP:0001395

## Destination ontology
HCAO

## Preferred term label
Hepatic fibrosis

## Synonyms
Liver fibrosis

## Textual definition
The presence of excessive fibrous connective tissue in the liver. Fibrosis is a reparative or reactive process.

## Suggested parent term
liver disease
MONDO:0005154

## Use case
Used for known disease in the donor organism schema

## A

[2021-11-12 17:38] paolaroncaglia commented on #96
Dear @idazucchi ,

Nice to e-meet you. @dosumis and I looked into your request, and unfortunately the specifications for disease terms in HCAO don't allow for HP terms (as per https://data.humancellatlas.org/metadata/dictionary/biomaterial/donor_organism/#diseases). We can't really import an HP term in the Mondo hierarchy in HCAO. The options are:

Use the broader term 'liver disease', or see if a

[2021-11-12 17:55] paolaroncaglia commented on #96
P.S. I scanned the paper and I think you do need 'hepatic fibrosis (disease)' or 'fibrotic liver disease' after all if you want a specific disease term, though the broader 'liver disease' wouldn't be incorrect. My understanding is that hepatic fibrosis is a hallmark of more than one type of liver disease, but I'm not an expert in that field.

[2021-11-15 14:04] idazucchi commented on #96
Dear @paolaroncaglia,
Nice to e-meet you too!
Thanks for looking at this. I discussed it with @ESapenaVentura and I’d like to follow the second option you suggested, requesting a new term in Mondo called 'hepatic fibrosis (disease)’.
How can I move forward?

[2021-11-15 17:55] paolaroncaglia commented on #96
Dear @idazucchi ,
I requested the term to Mondo and tagged you there (https://github.com/monarch-initiative/mondo/issues/4000).
Let's see what they say. I'll leave this ticket open.
Best,
Paola

[2021-11-16 13:50] paolaroncaglia commented on #96
Dear @idazucchi ,
Mondo editors will aim to add the new term you need in time for the December Mondo release. I'm not sure when exactly that will be, but it's usually around the first week of the month. I'll update this ticket when that's done. Hopefully you'll have it in time for the mid-December HCAO release.

[2021-11-19 11:57] paolaroncaglia commented on #96
Dear @idazucchi ,
Mondo added the new term you requested as MONDO:0100427 'fibrotic liver disease'.
The term will be available to you after the next Mondo release and the following HCAO release, so if all goes well, after Dec 16th.

[2021-11-19 13:30] idazucchi commented on #96
Dear @paolaroncaglia,
This is wonderful news! Thank you for the update.

[2021-12-14 09:37] paolaroncaglia commented on #96
Dear @idazucchi ,
FYI, the Mondo term you need, 'fibrotic liver disease', is now publicly available in Mondo but with a different ID than previously noted. The term is [MONDO:0100430 fibrotic liver disease](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0100430).
It should be available to you in the HCA ontology a couple of days after the next H

[2021-12-14 09:37] #96 closed

[2021-12-15 15:27] paolaroncaglia commented on #8
Hi @dosumis ,
Is this ticket out of date now, with the "advent" of the new OntoString curation tool?
Should the ticket be closed, or given more detail with OntoString specifications in mind?
Thanks.

[2021-12-15 15:29] paolaroncaglia commented on #10
@dosumis please
Similarly to #8 , should the specs of this ticket be updated to point to OntoString ones. Or is this no longer current. Thanks.

[2021-12-15 15:31] paolaroncaglia commented on #11
@dosumis should this epic be updated to refer to OntoString?

[2021-12-15 15:34] paolaroncaglia commented on #12
Reviewing old HCAO tickets; this one is still standing (see https://ontology.archive.data.humancellatlas.org/index).

[2021-12-15 15:41] paolaroncaglia commented on #80
Update: a Uberon slim for Euarchontoglires (rodents, primates and rabbits) is now ready, but still under improvement. The CL slim will depend on the Uberon one.

[2021-12-15 15:45] paolaroncaglia commented on #81
Hi @pnejad and @dosumis ,
I'm reviewing tickets in this tracker. Just a reminder about this one; please feel free to add the topic to one of our monthly meetings' agenda if/when appropriate. Thanks.
Paola

[2021-12-15 15:47] paolaroncaglia commented on #84
Update: the Uberon Euarchontoglires slim is ready, but still needs improving before it can be added to the HCAO pipeline.

[2021-12-15 17:19] pnejad commented on #81
@paolaroncaglia  thank you for bringing this to my attention! I will talk to the wranglers to get a better understanding of ontology needs for imaging assays.

[2021-12-15 18:02] dosumis commented on #12
There's a long-standing agreement to switch to a containerised build which would fix this by default, as the containerised build lacks the branding.  One of the devs at HCA was talking to James about this task a few months back.  I'll try to chase up.

[2022-01-17 15:18] paolaroncaglia commented on #84
Update: depends on https://github.com/obophenotype/uberon/issues/2127 and https://github.com/obophenotype/uberon/issues/2183; https://github.com/obophenotype/uberon/issues/2194 is also related, but not a blocker.

[2022-02-01 11:19] ipediez opened #97 "Ontology term for Cell Barcode files"
Hi!

We've been discussing at the HCA wrangler meetings about the best ontology choice for different file types that we work with. One of them is particularly difficult and it might need a new ontology term: the Cell Barcodes files coming from 10X sequencing.

Those files contain a list of the cell barcodes in the experiment, which are unique identifiers of each one of the cells analyzed in that e

[2022-02-02 11:36] paolaroncaglia commented on #97
Hi @ipediez (cc @zoependlington and @pnejad ),

Thanks for providing informative details. EFO has EFO:0010198 'cell barcode' ("A short nucleotide sequence that is added during a single cell library preparation to identify reads from an individual cell."), along with other terms related to cell barcode that may be useful (see a list [here](https://www.ebi.ac.uk/ols/search?q=cell+barcode&ontology=ef

[2022-02-02 15:00] zoependlington commented on #97
@paolaroncaglia We can certainly extend the EFO slim that's released with the HCAO releases, I'm not aware of any reason why we couldn't!

[2022-02-02 15:19] ESapenaVentura commented on #97
@paolaroncaglia same here, as I understood the HCAO slim serves exactly for this purpose :)

Our only constraint is that we would need to update the metadata schema to allow for these terms to be validated.

About what you comment on the hierarchy, not sure either. Maybe @pnejad has a better thought on this, but I don't see why not include the whole "information entity" branch. It does seem to con

[2022-02-03 14:01] ami-day opened #98 "Ontology term request for bulk ATAC-Seq"
## Preferred term label

ATAC-seq

## Synonyms

## Textual definition

ATAC-seq (Assay for Transposase-Accessible Chromatin using sequencing) is a technique used in molecular biology to assess genome-wide chromatin accessibility. The ATAC-Seq method relies on next-generation sequencing (NGS) library construction using the hyperactive transposase Tn5.

## Suggested parent term

library preparation

[2022-02-03 14:31] paolaroncaglia commented on #98
Hi @ami-day ,
Commenting briefly as I'm in the middle of something else, but it looks like the existing term [EFO:0007045 ATAC-seq](http://www.ebi.ac.uk/efo/EFO_0007045) would fit your need? It's a child of DNA-seq, and descendant of assay by molecule and assay by sequencer.

[2022-02-03 14:32] paolaroncaglia commented on #98
@ami-day
It's also in the EFO HCA subset, see [here](https://ontology.archive.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0007045).

[2022-02-03 15:02] ami-day commented on #98
Hi @paolaroncaglia yes exactly, the existing term is not working for me because the parent is not 'library preparation'. Would it be possible to add it?

[2022-02-03 21:43] pnejad commented on #97
@ESapenaVentura Do you mean updating the metadata schema to allow validation of EFO ontologies for content descriptions (which currently only allows EDAM ontologies)?

[2022-02-04 10:04] ESapenaVentura commented on #97
Spot on @pnejad 💯  that is exactly what I meant

[2022-02-08 15:14] paolaroncaglia commented on #97
Hi @ipediez @pnejad @ESapenaVentura
cc @zoependlington @dosumis
Summing up,
- [ ] @zoependlington will kindly extend the EFO slim for HCA, in time for the next HCAO release, to include the whole "information entity" branch; (Zoë, please let me know if I can help in any way, thank you!)
- [ ] @ESapenaVentura and/or @pnejad will ensure that the HCA metadata schema is updated to allow validation of E

[2022-02-09 16:28] dosumis commented on #97
We could add the whole 'single cell information branch' here:

https://github.com/HumanCellAtlas/metadata-schema/blob/ad20343b331abdde586037605ea091af38f2554e/json_schema/module/ontology/file_content_ontology.json#L30

This could work:

[code]

@zoependlington to add branch to HCAO.  This needs to happen before the metadata schema is modified.

[2022-02-09 16:56] dosumis commented on #81
Note that specific assays (e.g. Merfish) are/should-be in EFO.

[2022-02-09 17:15] paolaroncaglia commented on #81
FYI, to expand on some of the concepts that @dosumis mentioned, EFO already has e.g.
EFO:0008992 MERFISH
EFO:0010961 'Visium Spatial Gene Expression'
Both are also in the EFO HCA subset.

[2022-02-10 11:33] paolaroncaglia commented on #98
Hi @ami-day ,
ATAC-seq is now (also) a child of 'library preparation'. The change will be in the EFO release scheduled for Feb 15th, and will then be imported in the HCAO release the following day.

[2022-02-10 11:33] #98 closed

[2022-02-11 16:22] pnejad commented on #97
@zoependlington Please go ahead and add single cell information branch to HCAO :)

[2022-02-11 16:23] pnejad commented on #81
@paolaroncaglia I checked in with the wranglers and this tickets can be closed. If we need any ontologies related to microscopy in the future we can create a new ticket.

[2022-02-11 16:41] zoependlington commented on #97
Will do @pnejad! Thanks for confirming 😁

[2022-02-11 17:36] paolaroncaglia commented on #81
@pnejad thank you for your feedback! Closing now.

[2022-02-11 17:36] #81 closed

[2022-02-17 15:10] paolaroncaglia commented on #97
Hi @ipediez @pnejad @ESapenaVentura,

The whole 'information entity' branch, including child 'single cell information' and descendant 'cell barcode', is now in the HCA application ontology.
It can be browsed [here](https://ontology.archive.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FIAO_0000030).

As agreed, you should now please ensure that the HCA me

[2022-02-18 10:41] paolaroncaglia opened #99 "'cell type' is positioned incorrectly in HCAO due to CLO import"
I'm opening this ticket as a reminder that 'cell type' is positioned incorrectly in HCAO due to the CLO (Cell Line Ontology) import.
Details in [ticket that @zoependlington opened with CLO](https://github.com/CLO-ontology/CLO/issues/65).
If CLO fixes and runs a new CLO release, the fix will be imported automatically when running the HCAO pipeline, and we can then check that everything looks good.

[2022-02-24 14:48] ami-day opened #100 "[NTR] New ontology term: dysplasia"
## Preferred term label

dysplasia

## Synonyms

## Textual definition

A term used to describe the presence of abnormal cells within a tissue or organ. Dysplasia is not cancer, but it may sometimes become cancer.

## Suggested parent term

disease or disorder: MONDO:0000001

## Use case

Disease status of donor
Disease status of specimen from organism

[2022-02-24 16:35] paolaroncaglia commented on #100
Hi @ami-day,
This one is a bit tricky - EFO has EFO:0008501 'dysplasia' in its disease branch, which HCAO does not import because it imports Mondo diseases instead. However, Mondo does not have a broad term for dysplasia, just specific ones (e.g. colon dysplasia). I'll take a look at the other ticket you linked to see if there's a publication or dataset in case a different term may be a reasonable

[2022-02-24 17:15] paolaroncaglia commented on #100
@ami-day @ESapenaVentura
The question is - is limbal dysplasia the same as Mondo 'limbal stem cell deficiency'? Possibly not. I looked up all the references I could find.
The relevant section in the paper Method is:
"The cornea with limbal dysplasia was obtained from a deceased..."
Based on this, I'd suggest to use MONDO:0021238 'cornea neoplasm'. Dysplasia is a form of neoplasm (consistently with

[2022-02-28 14:35] idazucchi opened #101 "[ITR] - Differential gene expression analysis results"
Hi @paolaroncaglia!

After some discussion we have decided to include the results of differential gene expression analysis in the DCP, but at the moment we don’t have in the HCAO a term that can accurately describe these files.

I’ve found a term that describes the results of dge analysis and I’ve tentatively filled in the ticket, but I’m not sure it can be imported in our ontology.
If you have an

[2022-03-04 09:07] paolaroncaglia commented on #100
@ami-day @ESapenaVentura hi, following up on this after my trip. Please let me know if you need anything else from my side. Otherwise, feel free to close this ticket, thanks!

[2022-03-04 09:27] ESapenaVentura commented on #100
Hi @paolaroncaglia , apologies I missed the first messages

I am not an expert on cancer or eye but I have looked up the definitions on dysplasia and neoplasm and I don't think dysplasia a form of neoplasm, but rather the contrary:

By this definition (extracted from [here](https://webpath.med.utah.edu/NEOHTML/NEOPL106.html#:~:text=Dysplasia%20is%20still%20a%20reversible,cervix%20and%20respiratory

[2022-03-04 10:39] paolaroncaglia commented on #100
Hi @ESapenaVentura ,

Thanks for your feedback. My thoughts:

Focusing on currently available Mondo terms: MONDO:0045024 'cancer or benign tumour' is defined as "Any disorder that features _disrupted cell proliferation_. Includes hyperplasia, neoplastic syndrome and isolated neoplasm diseases as well as precancerous conditions.". The label suggests that the transition to neoplasia has occurred, bu

[2022-03-04 11:40] paolaroncaglia commented on #101
Hi @idazucchi ,

We can import OBI:0002584 'differential expression analysis data' into EFO (as a child of EFO IAO:0000100 'data set'), in time for the EFO release (March 15th).
The OBI term would then be placed in the 'information entity' branch and would be available to you at the next HCAO build + release (March 16th + ~2 days needed for deployment).
I'll comment back here when it's done. Thank

[2022-03-07 15:27] ipediez opened #102 "[ENQ] Term for JSON file including image acquisition metadata"
Hi! We are now starting to include spatial transcriptomics into HCA, and we've come across a new file for which we don't seem to find an adequate ontology term. Spatial datasets come with a .jpg image file (which we are tagging as Image data:2968), a .csv file with the correspondence between pixels in the image and cell barcodes (we are tagging it as cell barcode EFO:0010198), and a .json file inc

[2022-03-07 15:47] idazucchi commented on #101
Thank you Paola! This is great news, we should be able to use the term for datasets within this release then

[2022-03-07 15:49] paolaroncaglia commented on #102
Hi @ipediez ,
Among the EDAM terms available in HCAO, there's a broad one for json files: [format:3464 JSON](https://ontology.archive.data.humancellatlas.org/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fformat_3464). It's defined as "JavaScript Object Notation format; a lightweight, text-based format to represent tree-structured data using key-value pairs.". It has a few children, in

[2022-03-08 11:08] paolaroncaglia commented on #101
@idazucchi
OBI:0002584 'differential expression analysis data' is now in EFO (as a child of EFO IAO:0000100 'data set').
It will be available to HCA after the EFO and HCAO releases next week, as soon as the updated OLS instance is deployed after March 16th. I'll close this ticket now, but feel free to ping me if there's any issue. Thanks.

[2022-03-08 11:08] #101 closed

[2022-03-09 10:31] ipediez commented on #102
I think format:3464 JSON is not suitable for our needs. We would need an ontology term that describes the content of the file, rather than the format. For example, we are also including FASTA files, but the ontology term for the "content description" field in our metadata would be [data:3494 DNA sequence](https://ontology.archive.data.humancellatlas.org/ontologies/edam/terms?iri=http%3A%2F%2Fedamo

[2022-03-09 15:49] paolaroncaglia commented on #102
@ipediez thanks for your feedback. I'll look into the EDAM branch then, and if we can't find a suitable class there, we might create a new one in EFO for timely availability.

[2022-03-09 16:13] ESapenaVentura commented on #100
thanks @paolaroncaglia , sincerely, it looks like incorporating dysplasia as a term may be too complicated, especially when we have only 1 known case of a project that would need this term

Given your message above, I am inclined to just accept "neoplasm" as a good enough substitute and consider this topic further if this ends up being a recurrent issue

What do you think @ami-day?

[2022-03-09 17:51] paolaroncaglia commented on #102
@ipediez within the EDAM 'Data' branch, as you indicated, my suggestion is to use 2 separate terms for the 2 types of content:

spot diameter: [data:3108 Experimental measurement](https://ontology.archive.data.humancellatlas.org/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fdata_3108)

scale factors: [data:3546 'Image metadata'](https://ontology.archive.data.humancellatlas.org/ontologi

[2022-03-10 10:38] ipediez commented on #102
@paolaroncaglia Thanks a lot, those terms are a perfect fit, I don't know how 'image metadata' escaped my screening. We can use them right now without any change. Thanks again!

[2022-03-10 11:55] paolaroncaglia commented on #102
@ipediez great, you're welcome! I'll close this ticket then. Best,
Paola

[2022-03-10 11:55] #102 closed

[2022-03-10 12:37] ipediez opened #103 "[NTR] Liver abscess"
## Preferred term label

Liver abscess

## Synonyms

Hepatic abscess

## Textual definition

An abscess in the liver

## Suggested parent term

[Abscess (MONDO:0005227)](https://ontology.archive.data.humancellatlas.org/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0005227)

## Use case

This pathology is listed as one of the pathologies of a human donor for a liver sing

[2022-03-10 12:42] ipediez commented on #103
I would need a new term also for Intersphincteric abscess. That would be for the same use case and would fall under the same parent term and have a similar description. I haven't created the ticket yet, in case you want to discuss here if there are already terms available or that we can import. Both terms would have similar ones available on SNOMEDCT: [Abscess of liver (27916005)](https://www.ebi.

[2022-03-10 12:45] paolaroncaglia commented on #97
@ipediez (cc @pnejad and @ESapenaVentura ) Based on a [separate, more recent ticket](https://github.com/HumanCellAtlas/ontology/issues/101), I trust that the HCA metadata schema now allows validation of terms in the 'information entity' branch, so I'll close this ticket. Thanks.

[2022-03-10 12:45] #97 closed

[2022-03-10 12:55] paolaroncaglia commented on #103
@ipediez no need to open a separate ticket, thanks. I'll look into both terms today.

[2022-03-10 14:15] paolaroncaglia commented on #103
@ipediez I double-checked Mondo (including potential synonyms of your requested terms) and I confirm that there are no specific terms currently available. (EFO imports 'Liver abscess' from the Human Phenotype Ontology, so as a phenotype term that's not available in HCAO.)
- [ ] I will ask Mondo to create 'liver abscess' and 'intersphincteric abscess'
- [ ] I'll comment back here when they are avai

[2022-03-15 08:39] paolaroncaglia commented on #100
@ESapenaVentura @ami-day hi,

I'll go ahead and close this ticket then. Please feel free to open a new one if/when necessary (or re-open this one if you have any objection). Thank you both.

[2022-03-15 08:39] #100 closed

[2022-03-15 08:53] paolaroncaglia commented on #84
Update 15/3/22: no update on this yet, but I put it down for discussion at my next 1:1 with David.

[2022-03-21 01:47] yongqunh commented on #99
This should be solved now with the updated CLO. Please check out. Thanks!

[2022-03-23 15:38] paolaroncaglia commented on #99
@yongqunh

Thank you!

[2022-03-31 15:47] paolaroncaglia opened #104 "[ENQ] Review Uberon terms included in past HCA submissions"
@ESapenaVentura @dosumis and @zoependlington
Hi, as per Slack comm with @pnejad ,

Q: "Enrique expressed interest in looking at all the uberon terms that have been part of submissions to date and looking at which are not in HCAO, then adding them to HCAO. Is this something that could be done?"

A: "yes we can force-import any Uberon term you'd like into HCAO if it's not there already. The missing

[2022-04-01 08:57] paolaroncaglia opened #105 "[ENQ] What's the best Uberon term to associate to iPSCs?"
From a Slack thread between @pnejad and myself:

"Sometimes we have induced pluripotent stem cells as our cell lines and we need to list a model organ for them from uberon. What would be an ‘organ’ for iPSCs?"

"If the dataset, publication, or cell line "manufacturer" don't provide detailed info on how exactly the iPSCs were derived, you could go with [UBERON:0007023 'adult organism'](https://onto

[2022-04-01 09:05] paolaroncaglia opened #106 "[ENQ] Looking for a Mondo alternative to HP:0200067 'recurrent spontaneous abortion'"
@pnejad also asked:
"for disease, the ontologies have to be from Mondo or Pato (normal). I believe recurrent spontaneous abortion (HP:0200067) is in MONDO, but there is no MONDO ID for it. Is this normal?
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FHP_0200067"

[2022-04-01 09:13] paolaroncaglia commented on #106
@pnejad
'recurrent spontaneous abortion' (HP:0200067) is in Mondo because it's imported there, possibly due to some mapping. But it is still a term from an external ontology (HPO), hence it's not available in HCAO. I'll look into existing Mondo terms that you might use instead. Please feel free to provide links to datasets you need this for. Thanks.

[2022-04-01 09:18] paolaroncaglia commented on #106
@pnejad
Looking up HP:0200067 in Mondo using Ontobee shows you more clearly why the term is imported in Mondo (it's used in an axiom for the Mondo term [pregnancy loss, recurrent, susceptibility](https://www.ontobee.org/ontology/MONDO?iri=http://purl.obolibrary.org/obo/MONDO_0000144):

![Screenshot 2022-04-01 at 11 17 53](https://user-images.githubusercontent.com/4982516/161234425-ad951d74-01f3-46

[2022-04-01 09:29] paolaroncaglia commented on #106
@pnejad
Terms you could use:
[MONDO:0006774 'habitual spontaneous abortion'](https://ontology.archive.data.humancellatlas.org/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0006774)
[MONDO:0041526 'pregnancy disorder with abortive outcome'](https://ontology.archive.data.humancellatlas.org/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0041526)

[2022-04-01 09:53] paolaroncaglia commented on #105
Notes to self (work in progress):
The first publication sends into a loop of looking up older references to see what organ/cell types the iPSCs were originally derived from (and note, if it's a cell type that won't work for HCA)
TBC

[2022-04-01 14:04] paolaroncaglia commented on #105
@pnejad
Please see my comment above about iPSCs. Thanks.

[2022-04-01 21:11] pnejad commented on #105
Hi @paolaroncaglia, Thank you for looking into this. This works for me! I'll run it by the rest of the team to get their feedback as well.

[2022-04-01 21:12] pnejad commented on #106
@paolaroncaglia  [MONDO:0006774](https://ontology.archive.data.humancellatlas.org/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0006774)  sounds like a good fit for our dataset! Thank you

[2022-04-04 10:52] paolaroncaglia commented on #105
@pnejad

Great, thanks. I'll leave this ticket open for a few days, so if there are any concerns, please feel free to add them here.

[2022-04-04 10:55] paolaroncaglia commented on #106
@pnejad

You're welcome! I'll close this ticket then.

[2022-04-04 10:55] #106 closed

[2022-04-05 10:40] ami-day opened #107 "[NTR] single-cell library preparation method: droplet-based single-cell RNA library preparation"
## Preferred term label
droplet-based single-cell RNA library preparation

## Synonyms

## Textual definition
Droplet-based single-cell RNA library preparation method.

## Suggested parent term
single cell library construction
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0010183&viewMode=All&siblings=false

## Use case
single cell library construction m

[2022-04-05 13:52] paolaroncaglia commented on #107
Hi @ami-day ,
I'll open an EFO ticket for this, and tag you there. I will then close this ticket as a duplicate, and will document everything in the EFO ticket instead. Thank you.

[2022-04-05 14:02] paolaroncaglia commented on #107
@ami-day request moved to https://github.com/EBISPOT/efo/issues/1500. Thanks.

[2022-04-05 14:02] #107 closed

[2022-04-06 10:47] paolaroncaglia commented on #103
@ipediez
The 2 new disease terms you requested have been created in Mondo, but not released yet. As anticipated, they will be public with the next Mondo release, and available to HCA wranglers after May 17th. Here are the IDs for future reference:
MONDO:0700051 liver abscess (disease)
MONDO:0700052 intersphincteric abscess

[2022-04-07 09:56] paolaroncaglia commented on #107
@ami-day
FYI, the new term is EFO_0030078 (droplet-based single-cell RNA library preparation).
Details are [here](https://github.com/EBISPOT/efo/issues/1500) if needed. Thanks.

[2022-04-11 11:12] paolaroncaglia commented on #105
@pnejad
I'll close this ticket now, but if your team had any concern with my [suggestion on how to represent iPSCs](https://github.com/HumanCellAtlas/ontology/issues/105#issuecomment-1085695940), please feel free to re-open. Thank you.

[2022-04-11 11:12] #105 closed

[2022-04-11 11:41] paolaroncaglia commented on #104
@ESapenaVentura @pnejad
If there's any follow-up to your request [above](https://github.com/HumanCellAtlas/ontology/issues/104#issue-1188290166), and specifically if there's any existing Uberon anatomy term that isn't in HCAO at the moment and that you'd like to be imported in time for the April 20th HCAO release, please let me know by the end of tomorrow (Tue 12th). I'll be away April 14th-19th i

[2022-04-11 12:00] ami-day opened #108 "[NTR] Paracentesis"
## Preferred term label
Paracentesis

## Synonyms

## Textual definition

Paracentesis is a procedure in which a needle or catheter is inserted into the peritoneal cavity to obtain ascitic fluid for diagnostic or therapeutic purposes. Ascitic fluid may be used to help determine the etiology of ascites, as well as to evaluate for infection or presence of cancer.

## Suggested parent term

collectin

[2022-04-11 13:17] ESapenaVentura commented on #104
@paolaroncaglia Apologies for the late reply! This did fly over my head and forgot to respond

I have created a ticket for the task above (preparing the list of terms) https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/743

Having it in our board, I will make sure that this list is completed ASAP (I have tagged you on the ticket so please feel free to comment)

Thanks for the reminder and

[2022-04-11 16:01] #108 closed

[2022-04-11 16:04] paolaroncaglia commented on #104
@ESapenaVentura sure, thank you.

[2022-04-21 08:48] #99 closed

[2022-04-21 09:23] paolaroncaglia opened #109 "Reinstate UBERON_0039176 'subarachnoid space of spinal cord' in next HCAO release"
While doing the last HCAO release on April 19th, Zoë noted that
"there was an issue with UBERON_0039176 in the HCAO release - I don’t seem to be able to find this term anywhere, so not sure what it was, but I’ve removed it (possibly temporarily) from imports in order for the release to go through".
Looking at the latest release of Uberon in Protege, UBERON_0039176 is 'subarachnoid space of spinal

[2022-05-06 11:20] idazucchi opened #110 "[ENQ] Including phenotype in HCAO"
Hi @paolaroncaglia @zoependlington

We are discussing at the HCA wrangler meetings the possibility of including phenotype observations in the `known_disease` field in order to represent clinically relevant observations, that despite not being a disease are meaningful for researchers.
In the past we've encountered things like [Liver fibrosis](https://github.com/HumanCellAtlas/ontology/issues/96), [

[2022-05-06 13:33] paolaroncaglia commented on #110
Note: Zoë and Ida discussed this offline. The suggested approach is that HCA will provide some example terms that are of interest so we can figure out which branch(es) of HPO would be useful, and then decide whether adding to HCAO, a slim or including HPO as a whole like Mondo is the best option or if there’s another option altogether. This issue should probably be considered medium priority (i.e.

[2022-05-11 12:45] paolaroncaglia commented on #110
@idazucchi thank you for following up on this. We're planning to devote today's monthly single-cell curators call to HCA requests and SOPs, so I'm hoping we can discuss HP-in-HCAO then. Would you or others be able to attend please?

[2022-05-11 15:21] #8 closed

[2022-05-11 15:21] dosumis commented on #10
No longer applicable

[2022-05-11 15:21] #10 closed

[2022-05-11 15:22] dosumis commented on #11
No longer applicable.

[2022-05-11 15:22] #11 closed

[2022-05-11 15:23] #12 closed

[2022-05-11 15:36] dosumis commented on #103
Pending.

[2022-05-11 15:54] dosumis commented on #110
Option 1: Having only the terms that you want.  Wranglers can request terms by adding them to a file on the HCAO repo, but you will need to wait up to a month for the term.
Option 2: Only Phenotypic abnormality terms (A very fat slim) - this is really most of HPO
Option 3: Have all of HPO

Issues: Options 2 and 3 will cause clashes with Mondo.  Wranglers will then need an SOP for which term to cho

[2022-05-13 14:58] ESapenaVentura commented on #104
Hi @paolaroncaglia @dosumis !

I have done a quick search and found which UBERON terms we have in the HCA (In the file attached)

I would double check this because I just did a simple grep operation but to me, it looks like all the UBERON terms we have in our system are indeed in HCAO
[uberon_terms_in_hca.txt](https://github.com/HumanCellAtlas/ontology/files/8688816/uberon_terms_in_hca.txt)

[2022-05-13 15:06] ESapenaVentura commented on #55
I have reviewed the conversation. It seems like we had a pretty laid out path to pursue this, but that it's going to take a lot of effort on the ontologists side(many new terms) and on the HCA side (Schema update + field migration for all entities in the HCA).

The value/cost is very low, at least for HCA. I don't know if SCEA would be interested in creating the terms anyways.

Nonetheless, what w

[2022-05-13 17:20] paolaroncaglia commented on #104
@ESapenaVentura thank you for providing the list of Uberon terms. We'll check next week and get back to you.

[2022-05-16 15:31] paolaroncaglia commented on #55
@ESapenaVentura thank you for following up. I'll close this ticket now; its content won't go lost, as your new ticket in the metadata-schema repo points to it.

[2022-05-16 15:31] #55 closed

[2022-05-16 15:45] paolaroncaglia commented on #110
@dosumis adding you as an assignee for your action item above. I'll remove myself instead, but if there's anything I can help with in the next 2 weeks, do let me know.

[2022-05-17 12:17] paolaroncaglia commented on #103
@ipediez
MONDO:0700051 liver abscess (disease)
and
MONDO:0700052 intersphincteric abscess
will be available in HCAO as soon as the new release is in the OLS instance, pending https://github.com/ebi-ait/hca-ebi-dev-team/issues/487. Thank you.

[2022-05-17 12:17] #103 closed

[2022-05-17 12:21] paolaroncaglia commented on #104
@ESapenaVentura cc @pnejad
Zoë checked earlier today, and all the Uberon terms from Enrique's file are indeed in HCAO (in the newest release to be precise, see https://github.com/ebi-ait/hca-ebi-dev-team/issues/487).
Closing now, thank you!

[2022-05-17 12:21] #104 closed

[2022-05-17 12:25] paolaroncaglia commented on #109
Update: this issue is still unresolved. Zoë will continue to investigate before the next HCAO release.

[2022-06-01 09:43] ESapenaVentura commented on #110
@paolaroncaglia Many thanks and best wishes to you too!

[2022-06-10 13:19] zoependlington commented on #109
There are now more terms that have the same issue. Comparing old version of the import, hcao.owl and the new version I genuinely can not see any difference so I am not sure why this issue is happening. Here are the new terms with issues that I have had to remove in order to do the release:

2022-06-10 13:35:48,116 ERROR org.obolibrary.robot.ReasonerHelper -     unsatisfiable: http://purl.obolibrar

[2022-06-10 15:37] ami-day opened #111 "[ITR] Add GO to HCAO"
Hi @paolaroncaglia @zoependlington

We are working on updating the HCA metadata schema to include new ontology modules for:

- Treatment protocol method
- Treatment protocol target pathway

An example Treatment protocol method is:
T cell activation
GO:0042110
https://www.ebi.ac.uk/ols/ontologies/go/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGO_0042110

An example Treatment protocol target

[2022-06-10 16:06] zoependlington commented on #111
Hi @ami-day, just to update you that Paola is no longer working on HCA. @bvarner-ebi will be working on HCA tickets now, so tagging to keep in the loop (I'm unable to assign as can not edit permissions).

Also tagging @dosumis.

[2022-06-13 18:36] ami-day commented on #111
Hi @zoependlington thanks for letting me know! I'll assign @dosumis and @bvarner-ebi to the ticket, and correspond with them until you're back in the office.

[2022-06-13 18:41] ami-day commented on #111
I don't seem to be able to find and assign @bvarner-ebi to the ticket. Is there Github handle not yet linked to the HumanCellAtlas Ontology organisation/group?

[2022-06-17 09:32] ESapenaVentura commented on #111
I have invited @bvarner-ebi to the repo, once the invitation is accepted we should be able to tag him 👍

[2022-06-21 11:29] dosumis commented on #111
Odd use of GO BP terms - these refer to endogenous processes, not experimental treatments.  An EFO term may be more appropriate - in which case @zoependlington can add when she returns.  May also be useful to have a protocols.io link?

[2022-06-21 11:40] dosumis commented on #109
Should be fixed by  https://github.com/ebi-ait/ontology/pull/4/files

[2022-06-22 10:38] amnonkhen commented on #109
included in 1.0.38: [ebi-ait/hca-ebi-dev-team#490]

[2022-06-22 10:39] amnonkhen commented on #110
included in 1.0.38: [ebi-ait/hca-ebi-dev-team#490]

[2022-06-23 16:53] brittneydwick opened #112 "[ENQ] Need help mapping cell types to CL"
Hi there,

I am working on a dataset from "Cross-tissue immune cell analysis reveals tissue-specific features in humans" [Domínguez Conde et al. Science. 2022.](https://www.science.org/doi/10.1126/science.abl5197)

I am feeling uncertain about which CL terms to map the following cell types to or if we may need to add a new term for these:

cycling cell
erythophagocytic macrophage
intestinal macrop

[2022-06-24 09:14] ESapenaVentura commented on #111
@dosumis - The GO terms we are requesting are for the target_pathways field, so I think it makes sense that we pick GO terms for that - For the method, we will actually stick to terms under "OBI:0000070" (Assay). Do you think that EFO would be better?

[2022-06-24 09:40] dosumis commented on #111
OK.  That makes sense.

Let's discuss with @zoependlington when she's back.  That OBI branch is pretty huge + It's not clear to me how responsive they are.

[2022-06-28 12:46] paolaroncaglia commented on #112
Hi @brittneydwick ,

Thank you for your ticket. My contract for HCA ontology work was completed as of May 31st, so I'll remove my assignment, and I'll tag and assign @bvarner-ebi. I'll leave Zoë co-assigned for now, but I know that she's on annual leave this week. One of them will be able to assist you. Thank you and take care,

Paola

[2022-06-29 10:08] bvarner-ebi commented on #112
Hi @brittneydwick,

Thank you for the inquiry. To address the first part of your question...

I have not found existing cell types in CL that represent cycling cell or erythophagocytic macrophage. There are specific cell types that are erythrophagocytic macrophages, but I don't see a grouping class for them. Feel free to submit new term request tickets for those.

For intestinal macrophage, would

[2022-06-30 13:36] Wkt8 opened #113 "[ENQ] Import Gender term (NCIT) into HCAO"
@ESapenaVentura has been working to create a metadata-schema change to include 'gender' for the HCA metadata schema. There is a dataset from the TestesCellAtlas which contains samples from trans donors, and it is vitally important to record this metadata.

The term we wish to import is 'Gender' [NCIT:C17357](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo

[2022-07-04 12:01] ami-day opened #114 "[NTR] stromal cell of thymus; interstitial cell of thymus"
Please note this request is for 2 new linked terms, 1 of which is a parent and the other the child of the parent.

## Preferred term label

parent: stromal cell of thymus
child: interstitial cell of thymus

## Synonyms

parent: thymic stromal cell
child: thymic interstitial cell

## Textual definition

Parent: A stomal cell of the thymus.
Child: A cell that makes up the loose connective tissue of

[2022-07-05 14:00] ami-day commented on #114
Hi @zoependlington
Sorry I wasn't clear enough here.
The parent of 'interstitial cell of thymus' should be 'stromal cell of thymus'
The parent of 'stromal cell of thymus' should be 'stromal cell'
So, 2 new terms are being requested (stromal cell CL:0000499 already exists).
Does this help?

[2022-07-06 13:52] ami-day commented on #114
Hi @bvarner-ebi , I can provide the single-cell sequencing publication in which the authors enrich for certain cell type in the human Thymus  including "interstitial cell of thymus", here it is: https://www.nature.com/articles/s41467-020-20082-7. In this publication, they describe the fluorescence-activated cell sorting protocol and cell surface markers profiled to enrich for the interstitial cell

[2022-07-07 12:49] ami-day opened #115 "[NTR] choroidal neovascularization"
## Preferred term label

choroidal neovascularization

## Synonyms

## Textual definition

Choroidal neovascularization describes the growth of new blood vessels that originate from the choroid through a break in the Bruch membrane into the sub–retinal pigment epithelium (sub-RPE) or subretinal space. Choroidal neovascularization (CNV) is a major cause of visual loss.

## Suggested parent term

ey

[2022-07-11 08:13] bvarner-ebi commented on #114
@ami-day, pls see question below that came up during the PR review:

[2022-07-11 08:56] ami-day commented on #114
Hi @bvarner-ebi thank you for looking into this! Based on the articles you found, it looks like there are multiple thymic stromal cell types. Given this, and the aim of the HCA to identify previously unknown cell types, I think it makes sense to create the "stromal cell of thymus" node as a parent to "interstitial cell of thymus". I do not currently have any other thymic stromal cells in mind to a

[2022-07-11 10:22] bvarner-ebi commented on #114
Thank you, @ami-day.

Kindly note that the following classes have been added to CL:

CL:4030001 ‘stromal cell of thymus’
CL:4030003 ‘interstitial cell of thymus’

[2022-07-11 10:22] #114 closed

[2022-07-13 14:25] brittneydwick commented on #112
Hi @bvarner-ebi,

Thank you for looking into this for me! Sounds great, I will submit new term requests for cycling cell and erythophagocytic macrophage.

For intestinal macrophage, I was hoping to find a more general term than the one you suggested. Would it be possible to submit a term request for that cell type as well?

Would you also be able to provide feedback on the following cell types I m

[2022-07-13 16:37] addiehl commented on #112
I will look into these cell types.
--Alex

[2022-07-13 16:38] brittneydwick commented on #112
@addiehl Thank you so much, Alex!

[2022-08-12 18:48] rachadele opened #116 "[NTR] Transvaginal ultrasound aspiration"
Transvaginal ultrasound aspiration

## Synonyms

oocyte retrieval
## Textual definition

Transvaginal ultrasound-guided oocyte retrieval, also known as egg retrieval, is a surgical technique used by medical professionals to extract mature eggs directly from the women’s ovaries under the guidance of ultrasound imaging.

## Suggested parent term

collecting specimen from organism - OBI:0600005

## U

[2022-08-30 10:44] bvarner-ebi commented on #116
Hi, @rachadele, thank you for the contribution. I will add this term to **EFO** for inclusion in the next HCAO release.

- [ ] **Can you kindly provide a reference (PMID, doi, URL, etc) for the definition and/or your ORCiD?**

Do you agree to the following definition and synonym updates?

- [ ] **definition:**
A surgical technique used by medical professionals to extract mature eggs directly from

[2022-08-30 16:27] rachadele commented on #116
my orcid id: 0000-0002-7431-4139
PMID reference: 2969085
yes, I agree to the term and synonym updates!

[2022-08-30 16:56] bvarner-ebi commented on #116
Thank you, @rachadele!

Based on the PMID and re-reviewing the definition, may I suggest the label to be:
'ultrasound-guided transvaginal needle aspiration of follicles'
or
'transvaginal ultrasound-guided oocyte retrieval'
(whatever is not the label can be an exact synonym).

The currently proposed label 'transvaginal ultrasound aspiration' suggests something broader than the proposed definition (

[2022-08-30 18:40] rachadele commented on #116
Sure! I think "transvaginal ultrasound-guided oocyte retrieval" would  work best. Thank you!

[2022-08-31 13:56] bvarner-ebi commented on #116
https://github.com/EBISPOT/efo/issues/1738

[2022-08-31 15:06] bvarner-ebi commented on #116
@rachadele, thank you for your contribution.
The following term has been added to EFO and should be available in the next HCAO release:

EFO:0700009 'transvaginal ultrasound-guided oocyte retrieval'

[2022-08-31 15:07] #116 closed

[2022-08-31 16:05] ami-day opened #117 "[NTR] Oral rinse collection"
## Preferred term label

Oral rinse collection

## Synonyms

## Textual definition

Oral rinse collection following rinse of the oral cavity.

## Suggested parent term

collecting specimen from organism
OBI:0600005
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0600005&lang=en&viewMode=All&siblings=false

## Use case

HCA Collection protocol

## Att

[2022-09-01 07:16] bvarner-ebi commented on #117
Hi @ami-day, thank you for the contribution.

Can you kindly provide a reference for this term (PMID, doi, etc)? If none exists, could you provide your ORCiD and I will use that as the dbxref?

The definition uses the label in itself. Can you provide a definition that does not include the label or point to a reference we can use that can guide us in rewording it?

[2022-09-01 07:44] bvarner-ebi commented on #115
Hi @ami-day, thank you for the new term request. Could you kindly provide a reference (PMID, doi, URL, etc) that supports the text definition?
If you also provide your ORCiD, we can attribute the definition to you.

[2022-09-08 13:13] idazucchi opened #118 "Adding spatial transcriptomics under library preparation [ENQ]"
Hi @zoependlington @bvarner-ebi
I'm not sure if you are ready to start integrating new terms into the HCAO, but I would like your opinion on this in the meanwhile.

We use the terms under [library preparation](https://ontology.archive.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000711) to indicate how the library was prepared.
The only term for Sp

[2022-09-08 13:36] bvarner-ebi commented on #118
Hi, @idazucchi, would using the class [EFO:0008994 'spatial transcriptomics'](http://www.ebi.ac.uk/efo/EFO_0008994) address your use case?

[2022-09-09 13:04] idazucchi commented on #118
The term you are suggesting would be perfect as a general term, but we are restricted to using terms under [library preparation](http://purl.obolibrary.org/obo/OBI_0000711).
Right now [spatial transcriptomics](https://ontology.archive.data.humancellatlas.org/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0008994) is in the HCAO but it's under assay, would it be possible to move or

[2022-09-12 11:08] bvarner-ebi commented on #118
Hi, @idazucchi, would it have to be related with an "is a" relationship, i.e., 'spatial transcriptomics' **subclass of** 'library preparation'?
I don't know if that statement is accurate.

Would 'spatial transcriptomics' **part of** 'library preparation' work, assuming that axiom is true?

[2022-09-12 13:18] ami-day opened #120 "[NTR] immune cell"
## Preferred term label

immune cell

## Synonyms

## Textual definition

A cell that is part of the immune system and helps the body fight infections and other diseases.

## Suggested parent term

animal cell
CL:0000548
https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0000548&lang=en&viewMode=PreferredRoots&siblings=false

## Use case

Cell type ontolo

[2022-09-12 13:22] ami-day commented on #117
Hi Bradley, A reference does not exist as this term is quite general. I would rather not associate it with my ORCiD as I had no role in defining "Oral rinse".

For the definition, how about the following:

"A saliva collection method where a solution such as a saline solution or other solution is used to rinse the mouth before collection of saliva."

[2022-09-12 13:24] ami-day commented on #115
Hi @bvarner-ebi this is where I obtained the definition for "choroidal neovascularization": https://emedicine.medscape.com/article/1190818-overview.
I would prefer not to associate it with my ORCiD as I did not have a role in defining this disease state.

[2022-09-12 13:57] bvarner-ebi commented on #120
Hi @ami-day, can you kindly provide a reference for the source of this cell type (PMID, DOI, etc)?

Considering the parent term, would [CL:0000988 'hematopoietic cell' ](http://purl.obolibrary.org/obo/CL_0000988) be appropriate? Are there any 'immune cells' that would not be hematopoietic cells?

[2022-09-12 14:01] idazucchi commented on #118
Hi @bvarner-ebi,
The validation we do is based on SubclassOf so that is what we would need. I think that it also makes sense as a relationship since the spatial trascriptomics techniques are a kind of library preparation.

Is this possible?

[2022-09-12 14:11] ami-day commented on #120
Hi @bvarner-ebi, here is a reference for the description: "https://www.cancer.gov/publications/dictionaries/cancer-terms/def/immune-cell"

Having looked through a number of specific immune cell ontologies as examples, I think CL:0000988 'hematopoietic cell' is suitable as the parent term.

[2022-09-12 15:12] bvarner-ebi commented on #118
Hi, @idazucchi, thanks for the reply.

Pursuant to the comments above and after getting some additional feedback from @dosumis, I don't think it makes logical sense to place 'spatial transcriptomics' under 'library preparation'. Based on the definitions, 'spatial transcriptomics' does not seem to be a subclass of 'library preparation', but rather 'library preparation' is part of 'spatial transcrip

[2022-09-12 16:20] dosumis commented on #115
@zoependlington - Assume we should request this from https://github.com/monarch-initiative/mondo/issues for import into EFO.

[2022-09-13 09:59] bvarner-ebi commented on #117
Hi @ami-day, thanks for the reply.

We typically annotate definitions with a source/reference so end-users can research what the term/class represents and editors can know how to use it in future modelling. These annotations do not impact the logical aspects of the class but are used to cross reference the definition so if others want to use it, they will know the source to confirm it represents w

[2022-09-13 11:25] ESapenaVentura commented on #118
@bvarner-ebi , I understand your concerns, but just to go back and check on what we want:
- We have a dataset that used a non-general library preparation method, (non-visium).
- We want to describe the method for the library preparation protocol

The suggestion @idazucchi made above was because we had an internal discussion about what would be the best way to implement this new term we used, but a

[2022-09-13 12:51] bvarner-ebi commented on #118
Hi, @ESapenaVentura,

Thank you for the information. Hopefully we can come up with a working solution.

This may be the point of confusion: my interpretation of the definition ['library preparation'](http://purl.obolibrary.org/obo/OBI_0000711) is different than 'library preparation method' or 'library preparation protocol'.

It looks like 'library preparation' was copied from Ontology for Biomedic

[2022-09-13 16:16] addiehl commented on #120
These include neutrophils, eosinophils, basophils, mast cells, monocytes, macrophages, dendritic cells, natural killer cells, and lymphocytes (B cells and T cells).

[2022-09-14 07:22] zoependlington commented on #115
@dosumis It should be requested to Mondo, yes, although no need to import into EFO for HCA cases - they use the entirety of Mondo!

[2022-09-14 12:09] rays22 commented on #118
I think it would be a good solution to add a **new** generic spatial transcriptomics term under library preparation.
See my explantation below. I hope this helps.

* * * *
Library preparation vs. assay
=============================

* There are three process types in the HCA [Metadata entity model](https://data.humancellatlas.org/metadata/structure):
    1. `sample preparation`: 'both the input an

[2022-09-14 14:18] bvarner-ebi commented on #118
Thank you very much for the insight, @rays22.

If I follow correctly, you are suggesting that we create a new class called 'library preparation for spatial transcriptomics' as a subclass of 'library preparation'.
HCA can then select library preparation protocols, but not assays, to be children of 'library preparation for spatial transcriptomics'.

@idazucchi, would that work for your use case?

[2022-09-14 15:44] rays22 commented on #118
Yes, that is what I am suggesting.

Just to clarify, HCA are allowed to select terms exclusively under 'library preparation' for their sample/library preparation type metadata annotations. If they pick an *assay*-type term, for example [EFO:0008994 'spatial transcriptomics'](http://www.ebi.ac.uk/efo/EFO_0008994), then they get a schema validation error. Correct me @idazucchi  or @ESapenaVentura if

[2022-09-14 17:05] bvarner-ebi commented on #120
Hi, @ami-day, checking in to confirm if the solution above will work for your use case. I am planning a CL release tomorrow, so if I get confirmation in time, the synonym updated will be incorporated in the next release.

[2022-09-15 11:58] ami-day commented on #111
Thank you for your suggestions! After discussion with @ESapenaVentura we have agreed that for this particular use case, the GO terms would be best (target_pathways field), especially as it is quite broad (and we expect target_pathway to vary quite a bit). This ontology is indicated in the relevant schema update.

[2022-09-15 12:16] ami-day commented on #120
Hi @bvarner-ebi and @addiehl This sounds great, I agree I could use 'leukocyte' and that "immune cell" should be added as a related synonym. Thanks for your insight and swift response.

[2022-09-15 12:20] ami-day commented on #117
Hi @bvarner-ebi , in this case, i think it would make sense to reference the dataset that I am curating, in which saliva is collected from human donors by "oral rinse".  Here is the publication: https://doi.org/10.1038/s41591-021-01296-8

[2022-09-15 12:21] ami-day commented on #115
Thank you!

[2022-09-15 12:40] bvarner-ebi commented on #120
Great, thank you for confirming, @ami-day.
[This change has been made](https://github.com/obophenotype/cell-ontology/pull/1702) and will be reflected in the next CL release.

[2022-09-15 12:40] #120 closed

[2022-09-15 12:42] bvarner-ebi commented on #115
My pleasure!
MONDO:0810000 'choroidal neovascularization' has been added to MONDO.

[2022-09-15 12:42] #115 closed

[2022-09-20 12:01] bvarner-ebi commented on #118
I also very kindly received the following input from the author of ['library preparation'](http://purl.obolibrary.org/obo/OBI_0000711):

"... I agree with the suggestion of having a class ‘library preparation for spatial transcriptomics’ created, assuming that the output of this process is a ‘library’ (ie a material entity) that will be input to a ‘sequence data acquisition’. and as far as I recal

[2022-09-20 15:14] idazucchi commented on #118
Hi @bvarner-ebi and @rays22, thank you for your suggestions! We need a bit more time to discuss this within our team, is it ok if I get back to you next week?

[2022-09-20 15:27] bvarner-ebi commented on #118
Sure, @idazucchi, absolutely. There is no blocker on my end.

[2022-09-28 22:12] brittneydwick commented on #112
Hi @addiehl,

Just checking in to see if you had the chance to look at this!
Thanks.

[2022-09-29 14:17] addiehl commented on #112
Today, I promise

[2022-10-03 09:01] bvarner-ebi commented on #118
Great, @idazucchi. Would you kindly submit a "new term request" issue, and I will add the term accordingly.

[2022-10-03 16:35] brittneydwick commented on #112
@addiehl ping :)

[2022-10-05 08:42] ESapenaVentura commented on #113
Is there any advancements on this @bvarner-ebi ? is it going to be included in the next release?

[2022-10-05 08:53] ami-day commented on #117
Hi @bvarner-ebi is the above ok as a reference for the new ontology term?

[2022-10-05 09:30] bvarner-ebi commented on #117
Hi, @ami-day, thank you for the reminder. I will review the reference and check it against the requested text definition.

To set expectations, kindly note that tickets assigned to me that are not directly related to the Cell Annotation Platform (CAP) are set to low priority since CAP is my primary project.

[2022-10-05 09:50] ami-day commented on #117
Ok good to know and no problem!

[2022-10-05 11:07] dosumis commented on #113
This will require additional work on the pipeline by @zoependlington so not sure it will make it into the next release (BTW - Will this be in addition to recording sex?)

[2022-10-05 11:08] dosumis commented on #113
@zoependlington - could you comment on timescale? Might make sense to combine this with a push to make this more ODK-like.

[2022-10-05 12:14] zoependlington commented on #113
I am hoping this is in scope for November, but will keep you up to date once I have more to update on. I have looked at the pipeline and it requires a little more work than first anticipated to update to more ODK-like, but there may be a temporary solution I can put in place if this addition is needed ASAP.

[2022-10-05 14:50] bvarner-ebi commented on #117
Hi, @ami-day, I reviewed the [reference]( https://doi.org/10.1038/s41591-021-01296-8) provided, but cannot find mention of oral rinse collection. Collecting specimens via active drool collection is mentioned in this paper, but I don't see a specimen collection method mentioned that aligns with your definition.

Can you direct me to the relevant passage in the paper?

[2022-10-05 15:02] brittneydwick commented on #112
Hi @addiehl,

Just checking in on this.

[2022-10-10 14:55] bvarner-ebi commented on #112
@addiehl, if you don't have bandwidth for this, can recommend someone else who can take a look?

[2022-10-10 17:45] idazucchi opened #121 "Library preparation for spatial transcriptomics [NTR]"
## Preferred term label
library preparation for spatial transcriptomics

## Synonyms

## Textual definition
Library preparation step of a spatial trascriptomics assay

## Suggested parent term
library preparation
http://purl.obolibrary.org/obo/OBI_0000711

## Use case
This term will be used as general term for spatial trascriptomics library preparation

[2022-10-11 05:39] addiehl commented on #112
1) I don't believe 'cycling cell' belongs in the Cell Ontology at all, as it is too general and very much a phenotypic description that is not tied to a specific cell type.

2) 'erythrophagocytic macrophage' refers to any macrophage that is capable of phagocytosis of erythrocytes, which is really a functional characterization of a macrophage. The authors of Domínguez Conde et al. as well as earlie

[2022-10-12 14:20] bvarner-ebi commented on #121
Thank you for the ticket, @idazucchi. Can you provide a reference or your ORCID to add as a cross reference for this new term?

[2022-10-13 11:00] ami-day commented on #117
Hi @bvarner-ebi ,

The Saliva data generated in this study was made available in a data portal, however, it remains unpublished and the collection and experimental methods were not included in the Methods in the publication text. We enquired about this data, and the authors have asked us to refrain from submitting this data until it has been published. I had found the saliva collection method in t

[2022-10-14 08:20] bvarner-ebi commented on #117
Thank you for the background information, @ami-day!

In this case, I recommend using your ORCID as the dbxref since you are supplying the definition.
Once the reference becomes available, we could add it as a dbxref to the definition or revise the definition and references as needed.

[2022-10-14 11:22] idazucchi commented on #121
Hi @bvarner-ebi! This is my ORCID https://orcid.org/0000-0002-4900-7575

[2022-10-14 12:48] bvarner-ebi commented on #121
Hi, @idazucchi,
Thanks again for the new term.

The following has been added to EFO and should be available in the next release:

EFO:0700012 'library preparation for spatial transcriptomics'
(https://github.com/EBISPOT/efo/pull/1789)

[2022-10-14 12:48] #121 closed

[2022-10-14 12:50] bvarner-ebi commented on #118
New term created (#121).

[2022-10-14 12:50] #118 closed

[2022-10-19 13:33] bvarner-ebi commented on #117
Thank you, @ami-day!
I should have this done by end of day Monday.

[2022-10-24 11:55] bvarner-ebi commented on #117
Hi, @ami-day,

Thank you for the new term contribution.
The following has been added to EFO and should be available in the next release:

EFO:0700013 'oral rinse collection'

[2022-10-24 11:55] #117 closed

[2022-11-07 10:05] #113 closed

[2022-11-21 09:18] ESapenaVentura opened #122 "[ENQ] New imported NCIT term (Gender + subclasses) missing "obo_id""
**Description of the issue**

In the latest release, 1.0.45, a new set of terms was loaded from NCIT, under "Gender" (https://ontology.staging.archive.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C17357). However, our validators are not recognising the term because it is missing the "obo_id" field, and that's what we use to query the service and v